@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  /*elimina el estilo en las listas*/
  text-decoration: none;
  /*elimina las viñetas*/
  user-select: none;
  /*impide seleccionar el texto*/
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /*para que como minimo sea el viewport*/
  background-color: white;
}

/* justificacion de todos los parrafos */
p {
  text-align: justify;
}

body {
  font-family: Quicksand, Arial, Helvetica, sans-serif;
}

/*MOBILE*/
/*TABLET*/
/*DESKTOP*/
/*VARIABLES - PALETA DE COLORES */
/* color del texto predeterminado*/
/*color secundario del texto*/
/*color titulos*/
/*color subtitulos*/
/*color fecha about me*/
/*color para sombras*/
/*fondo de links*/
/*color de texto al aplicar hover*/
/*color de animacion 1 link*/
/*color de animacion 2 link*/
body {
  font-family: Quicksand, Arial, Helvetica, sans-serif;
}

/*MOBILE*/
/*TABLET*/
/*DESKTOP*/
/*VARIABLES - PALETA DE COLORES */
/* color del texto predeterminado*/
/*color secundario del texto*/
/*color titulos*/
/*color subtitulos*/
/*color fecha about me*/
/*color para sombras*/
/*fondo de links*/
/*color de texto al aplicar hover*/
/*color de animacion 1 link*/
/*color de animacion 2 link*/
footer {
  width: 80%;
  margin-left: 10%;
}
footer a {
  text-decoration: none;
  color: #383f3a;
}
footer a:hover {
  color: #0d1102;
}
footer .hidden-text {
  font-size: 0px;
  width: 0px;
  height: 0px;
}

/*MOBILE*/
@media (max-width: 768px) {
  /*FOOTER*/
  footer {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 100%;
    grid-template-rows: 0.2fr 0.4fr;
    padding: 2%;
    font-size: 1rem;
  }
  footer .footerText {
    justify-self: center;
    padding-bottom: 2%;
  }
  footer div {
    padding: 2%;
    align-self: center;
    justify-self: center;
  }

  /*HOME*/
  .homeTitle {
    font-size: 1.7rem;
  }
  .homeTitle span {
    font-size: 1.7rem;
  }

  .textHome p {
    font-size: 1rem;
  }

  /*PROJECT*/
  #project01, #project01_expl, #project02, #project01Expl2 {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-areas: "number01 img01" "info01 info01";
    grid-template-columns: 0.4fr 0.6fr;
    grid-template-rows: 0.5fr auto;
  }

  /* areas de la grilla */
  .number01 {
    grid-area: number01;
  }

  .img01 {
    grid-area: img01;
  }

  .info01 {
    grid-area: info01;
  }

  .card h5 {
    font-size: 1.2rem;
  }

  #project02, #project01Expl2 {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-areas: "number02 img02" "info02 info02";
    grid-template-columns: 0.5fr 0.5fr;
    grid-template-rows: 0.5fr auto;
  }

  /* areas de la grilla */
  .number02 {
    grid-area: number02;
  }

  .img02 {
    grid-area: img02;
    padding-left: 2%;
  }

  .info02 {
    grid-area: info02;
  }

  .projectNumber {
    font-size: 8rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
  }

  .projectImg {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    padding-right: 4%;
  }
  .projectImg img {
    width: 100%;
  }

  .projectInfo .title-1 {
    font-size: 2rem;
  }
  .projectInfo .title-2 {
    font-size: 5rem;
  }
  .projectInfo .projectText {
    font-size: 1rem;
    font-weight: 300;
  }

  .lead {
    font-size: 1rem;
  }

  /*ABOUT ME*/
  section {
    margin: 0 10%;
  }
  section h1, section h2 {
    font-size: 1.7rem;
    text-align: center;
    padding-top: 3vh;
  }
  section .textAbout {
    font-size: 1rem;
    text-align: center;
    margin-bottom: 2vh;
  }
  section article h3 {
    font-size: 1.2rem;
    padding-bottom: 2vh;
  }
  section article .date {
    margin-bottom: 1vh;
  }

  #gridAbout {
    display: grid;
    width: 90%;
    margin-left: 5%;
    grid-template-areas: "photo" "profile" "languague" "location" "experience" "skill" "education";
    grid-template-columns: 100%;
    grid-template-rows: 0.5fr 0.5fr 0.4fr 0.3fr repeat(4, auto);
  }

  .photo {
    grid-area: photo;
    margin: 2% 0px;
  }
  .photo img {
    width: 70%;
  }

  .profile {
    grid-area: profile;
    margin-top: 0px;
  }

  .languague {
    grid-area: languague;
    text-align: center;
  }

  .location {
    grid-area: location;
    text-align: center;
  }

  .experience {
    grid-area: experience;
  }

  .skill {
    grid-area: skill;
  }
  .skill div {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 0.2fr 0.7fr;
    grid-template-rows: repeat(7, auto);
  }
  .skill div p {
    font-size: 1rem;
  }
  .skill div p span {
    font-size: 1rem;
  }
  .skill div img {
    width: 100%;
  }

  .education {
    grid-area: education;
  }
  .education .textEdu {
    text-align: justify;
  }

  /*CONTACT*/
  #gridContact {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 60%;
    grid-template-rows: 0.5fr 1fr;
  }
  #gridContact .message h1, #gridContact .message p {
    font-size: 1rem;
  }
  #gridContact .message :nth-child(2) {
    font-size: 0.8rem;
  }
  #gridContact form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }
  #gridContact form .formSpace {
    width: 90%;
    margin-bottom: 3vh;
  }
  #gridContact .boton {
    font-size: 1rem;
  }
}
/*TABLET*/
@media (min-width: 769px) and (max-width: 1199px) {
  /*FOOTER*/
  footer {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 50% 50%;
    grid-template-rows: 0.5fr;
    padding: 2%;
    font-size: 1rem;
  }
  footer .footerText {
    justify-self: flex-start;
  }
  footer div {
    width: 50%;
    justify-self: flex-end;
  }

  /*HOME*/
  .homeTitle {
    font-size: 2rem;
  }
  .homeTitle span {
    font-size: 2rem;
  }

  .textHome p {
    font-size: 1rem;
  }

  /* PROJECT */
  #project01, #project01_expl, #project02, #project01Expl2 {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-areas: "number01 img01" "info01 info01";
    grid-template-columns: 0.4fr 0.6fr;
    grid-template-rows: 0.5fr auto;
  }

  /* areas de la grilla */
  .number01 {
    grid-area: number01;
  }

  .img01 {
    grid-area: img01;
  }

  .info01 {
    grid-area: info01;
  }

  .card h5 {
    font-size: 1.4rem;
  }

  #project02, #project01Expl2 {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-areas: "number02 img02" "info02 info02";
    grid-template-columns: 0.4fr 0.6fr;
    grid-template-rows: 0.5fr auto;
  }

  /* areas de la grilla */
  .number02 {
    grid-area: number02;
  }

  .img02 {
    grid-area: img02;
  }

  .info02 {
    grid-area: info02;
  }

  .projectNumber {
    font-size: 12rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
  }

  .projectImg {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    padding-right: 5%;
  }
  .projectImg img {
    width: 100%;
  }

  .projectInfo .title-1 {
    font-size: 2rem;
  }
  .projectInfo .title-2 {
    font-size: 5rem;
  }
  .projectInfo .project-text {
    font-size: 1rem;
    font-weight: 300;
  }

  .lead {
    font-size: 1rem;
  }

  /* transformacion aumento de escala de imagenes de planos */
  .scaled {
    transition: transform 0.2s;
  }

  .scaled:hover {
    transform: scale(1.5);
  }

  /* ABOUT ME */
  section {
    margin: 0 10%;
  }
  section h1, section h2 {
    font-size: 2rem;
    text-align: start;
    padding: 3vh 0;
  }
  section .textAbout {
    font-size: 1rem;
    padding-left: 3%;
  }
  section article h3 {
    text-align: justify;
    font-size: 1.4rem;
  }
  section article .date {
    margin-left: 3%;
  }

  #gridAbout {
    display: grid;
    width: 80%;
    margin-left: 10%;
    grid-template-areas: "photo photo" "profile profile" "languague location" "experience experience" "skill skill" "education education";
    grid-template-columns: 0.5fr 0.5fr;
    grid-template-rows: 1fr 0.5fr 0.3fr repeat(4, auto);
  }

  .photo {
    grid-area: photo;
    margin: 2% 0px;
  }
  .photo img {
    width: 60%;
  }

  .profile {
    grid-area: profile;
    margin-top: 0px;
  }

  .languague {
    grid-area: languague;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    margin-left: -10%;
  }

  .location {
    grid-area: location;
  }

  .experience {
    grid-area: experience;
  }

  .skill {
    grid-area: skill;
  }
  .skill div {
    display: grid;
    grid-template-columns: 0.3fr 0.7fr;
    grid-template-rows: repeat(7, auto);
    justify-content: center;
    align-items: center;
    margin-left: 10%;
  }
  .skill div img {
    width: 50%;
  }

  .education {
    grid-area: education;
  }

  /*CONTACT*/
  #gridContact {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 60%;
    grid-template-rows: 0.5fr 1fr;
  }
  #gridContact .message h1, #gridContact .message p {
    font-size: 1rem;
  }
  #gridContact .message :nth-child(2) {
    font-size: 0.8rem;
  }
  #gridContact form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }
  #gridContact form input, #gridContact form textarea {
    width: 80%;
    margin-bottom: 3vh;
  }
  #gridContact form .boton {
    width: 30%;
    font-size: 1rem;
  }
}
/********   
DESKTOP 
*******/
@media (min-width: 1200px) {
  /*FOOTER*/
  footer {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 50% 50%;
    grid-template-rows: 0.5fr;
    font-size: 1.2rem;
  }
  footer .footerText {
    justify-self: flex-start;
  }
  footer div {
    padding: 1%;
    width: 25%;
    justify-self: flex-end;
  }

  /*HOME*/
  .homeTitle {
    font-size: 2.5rem;
  }
  .homeTitle span {
    font-size: 2.5rem;
  }

  .textHome p {
    font-size: 1.2rem;
  }

  /* PROJECT */
  #project01, #project01_expl, #project02, #project01Expl2 {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-areas: "number01 img01 info01";
    grid-template-columns: 0.2fr 0.4fr 0.4fr;
    grid-template-rows: 1fr;
  }

  /* areas de la grilla project01 */
  .number01 {
    grid-area: number01;
  }

  .img01 {
    grid-area: img01;
  }

  .info01 {
    grid-area: info01;
  }

  .card h5 {
    font-size: 1.4rem;
  }

  #project02, #project01Expl2 {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-areas: "info02 img02 number02 ";
    grid-template-columns: 0.4fr 0.4fr 0.2fr;
    grid-template-rows: 1fr;
  }

  /* areas de la grilla project02 */
  .number02 {
    grid-area: number02;
    justify-content: start;
    align-items: center;
  }

  .img02 {
    grid-area: img02;
  }

  .info02 {
    grid-area: info02;
  }

  .projectNumber {
    font-size: 12rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
  }

  .projectImg {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    padding-right: 5%;
  }
  .projectImg img {
    width: 100%;
  }

  .projectInfo .title-1 {
    font-size: 2rem;
  }
  .projectInfo .title-2 {
    font-size: 5rem;
  }
  .projectInfo .projectText {
    font-size: 1.2rem;
  }

  .projectInfo01 {
    font-size: 1.2rem;
  }

  /* transformacion aumento de escala de imagenes de planos */
  .scaled {
    transition: transform 0.2s;
  }

  .scaled:hover {
    transform: scale(1.5);
  }

  /* ABOUT ME */
  section h1, section h2 {
    font-size: 2.5rem;
    text-align: start;
  }
  section .textAbout {
    font-size: 1.2rem;
    padding-left: 5%;
  }
  section article h3 {
    font-size: 1.4rem;
    padding: 5px 2%;
  }
  section article .date {
    margin-left: 5%;
  }

  #gridAbout {
    display: grid;
    width: 80%;
    margin-left: 10%;
    grid-template-areas: "photo profile profile" "photo languague location" "skill experience experience" "education education education";
    grid-template-columns: 0.5fr auto 0.4fr;
    grid-template-rows: 0.5fr 0.5fr auto 2fr;
  }

  .profile {
    grid-area: profile;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
  }
  .profile h1, .profile h2, .profile p {
    align-self: flex-start;
    padding-left: 5%;
  }

  .photo {
    grid-area: photo;
    justify-self: center;
    align-self: center;
  }
  .photo img {
    width: 100%;
  }

  .languague {
    grid-area: languague;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
  }

  .location {
    grid-area: location;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
  }

  .experience {
    grid-area: experience;
    padding-left: 5%;
  }

  .skill {
    grid-area: skill;
  }
  .skill div {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 0.2fr 0.7fr;
    grid-template-rows: repeat(7, auto);
    margin: 5% 0;
  }
  .skill div p {
    font-size: 1.2rem;
  }
  .skill div p span {
    font-size: 1.2rem;
  }
  .skill div img {
    width: 100%;
  }

  .education {
    grid-area: education;
  }
  .education h3 {
    text-align: justify;
    font-size: 1.4rem;
    padding-bottom: 5px;
  }
  .education .dateEdu {
    padding-left: 3%;
  }
  .education .textEdu {
    padding-left: 5%;
    font-size: 1.2rem;
  }

  /*CONTACT*/
  #gridContact {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 60%;
    grid-template-rows: 0.5fr 1fr;
  }
  #gridContact .message h1, #gridContact .message p {
    font-size: 1.2rem;
  }
  #gridContact .message :nth-child(2) {
    font-size: 0.96rem;
  }
  #gridContact form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }
  #gridContact form .formSpace {
    width: 60%;
    margin-bottom: 3vh;
  }
  #gridContact form .boton {
    width: 20%;
    font-size: 1.2rem;
  }
}
/*VARIABLES - PALETA DE COLORES */
/* color del texto predeterminado*/
/*color secundario del texto*/
/*color titulos*/
/*color subtitulos*/
/*color fecha about me*/
/*color para sombras*/
/*fondo de links*/
/*color de texto al aplicar hover*/
/*color de animacion 1 link*/
/*color de animacion 2 link*/
footer {
  width: 80%;
  margin-left: 10%;
}
footer a {
  text-decoration: none;
  color: #383f3a;
}
footer a:hover {
  color: #0d1102;
}
footer .hidden-text {
  font-size: 0px;
  width: 0px;
  height: 0px;
}

body {
  font-family: Quicksand, Arial, Helvetica, sans-serif;
}

/*MOBILE*/
/*TABLET*/
/*DESKTOP*/
/*VARIABLES - PALETA DE COLORES */
/* color del texto predeterminado*/
/*color secundario del texto*/
/*color titulos*/
/*color subtitulos*/
/*color fecha about me*/
/*color para sombras*/
/*fondo de links*/
/*color de texto al aplicar hover*/
/*color de animacion 1 link*/
/*color de animacion 2 link*/
.logo {
  width: 150px;
}

.containerHome {
  width: 80%;
  margin-left: 10%;
  overflow: hidden;
}
.containerHome .homeImg {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.containerHome .homeImg img {
  width: 80%;
}
.containerHome .homeTitle h1 {
  text-align: center;
  animation-duration: 5s;
  animation-name: color__name;
  animation-iteration-count: 1;
  /* animacion al titulo*/
}
@keyframes color__name {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.containerHome .homeTitle h1 span {
  color: #7f8e57;
  font-family: Dosis, Quicksan, Arial, Helvetica, sans-serif;
}
.containerHome .textHome p {
  text-align: justify;
}

body {
  font-family: Quicksand, Arial, Helvetica, sans-serif;
}

/*MOBILE*/
/*TABLET*/
/*DESKTOP*/
/*VARIABLES - PALETA DE COLORES */
/* color del texto predeterminado*/
/*color secundario del texto*/
/*color titulos*/
/*color subtitulos*/
/*color fecha about me*/
/*color para sombras*/
/*fondo de links*/
/*color de texto al aplicar hover*/
/*color de animacion 1 link*/
/*color de animacion 2 link*/
/*VARIABLES - PALETA DE COLORES */
/* color del texto predeterminado*/
/*color secundario del texto*/
/*color titulos*/
/*color subtitulos*/
/*color fecha about me*/
/*color para sombras*/
/*fondo de links*/
/*color de texto al aplicar hover*/
/*color de animacion 1 link*/
/*color de animacion 2 link*/
.link {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  overflow: hidden;
  border-radius: 40px;
  background: linear-gradient(145deg, #e6e6e6, #ffffff);
  box-shadow: 8px 8px 22px #d1d1d1, -8px -8px 22px #ffffff;
}
.link:hover {
  animation: pulsate 1s ease-in-out;
  color: white;
}

/* efecto sobre los links */
.projectLink {
  display: inline-block;
  text-decoration: none;
  color: white;
  padding: 2% 5%;
  background-color: #7f8e57;
  border-radius: 5px 20px;
  box-shadow: 2px 5px 5px rgba(84, 95, 58, 0.7882352941);
}
.projectLink:hover {
  animation: pulsate 1s ease-in-out;
  color: white;
}

@keyframes pulsate {
  0% {
    box-shadow: 0 0 25px #7f8e57, 0 0 50px #383f3a;
  }
}
hr {
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*PORTADAS PAGINA PROJECT*/
#project01, #project01_expl, #project02, #project01Expl2 {
  width: 80%;
  margin-left: 10%;
}
#project01 .projectNumber, #project01_expl .projectNumber, #project02 .projectNumber, #project01Expl2 .projectNumber {
  font-family: Dosis, Quicksand, Arial, Helvetica, sans-serif;
  font-weight: 300;
  text-shadow: 5px 5px 4px rgba(84, 95, 58, 0.7882352941);
}
#project01 .projectInfo, #project01_expl .projectInfo, #project02 .projectInfo, #project01Expl2 .projectInfo {
  margin: 0 10%;
  padding: 5% 0;
}
#project01 .projectInfo .title-2, #project01_expl .projectInfo .title-2, #project02 .projectInfo .title-2, #project01Expl2 .projectInfo .title-2 {
  /* formato para nombre individual */
  font-family: Dosis, Quicksand, Arial, Helvetica, sans-serif;
  color: #5b6b2e;
  margin-top: -5vh;
}
#project01 .projectInfo .projectText, #project01_expl .projectInfo .projectText, #project02 .projectInfo .projectText, #project01Expl2 .projectInfo .projectText {
  text-align: justify;
  font-weight: 300;
}

/*PROJECTO-01 INDIVIDUAL*/
.projectInfo01 {
  width: 80%;
  margin-left: 10%;
}
.projectInfo01 p {
  padding: 2%;
  font-weight: 300;
}

#album {
  width: 80%;
}
#album h5 {
  font-family: Quicksand, Arial, Helvetica, sans-serif;
  font-weight: 300;
  text-align: center;
}

/*PROJECTO-02 INDIVIDUAL*/
#project01Expl2 {
  width: 80%;
  margin-left: 10%;
}

#projectInfo02 {
  width: 80%;
  margin-left: 10%;
}
#projectInfo02 p {
  padding: 5%;
}

.gridImg02 {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.featurette-heading {
  color: #545f3a;
  font-family: dosis, Arial, Helvetica, sans-serif;
  padding: 5%;
}

.lead {
  color: #383f3a;
}

body {
  font-family: Quicksand, Arial, Helvetica, sans-serif;
}

/*MOBILE*/
/*TABLET*/
/*DESKTOP*/
/*VARIABLES - PALETA DE COLORES */
/* color del texto predeterminado*/
/*color secundario del texto*/
/*color titulos*/
/*color subtitulos*/
/*color fecha about me*/
/*color para sombras*/
/*fondo de links*/
/*color de texto al aplicar hover*/
/*color de animacion 1 link*/
/*color de animacion 2 link*/
/*VARIABLES - PALETA DE COLORES */
/* color del texto predeterminado*/
/*color secundario del texto*/
/*color titulos*/
/*color subtitulos*/
/*color fecha about me*/
/*color para sombras*/
/*fondo de links*/
/*color de texto al aplicar hover*/
/*color de animacion 1 link*/
/*color de animacion 2 link*/
.boton {
  letter-spacing: 2px;
  background-color: #7f8e57;
  text-transform: uppercase;
  padding: 1% 2%;
  border-radius: 10px;
  box-shadow: 2px 5px 5px rgba(84, 95, 58, 0.7882352941);
  color: white;
}
.boton:hover {
  animation: pulsate 1s ease-in-out;
}

.buttomBack, .buttomUp svg {
  color: #383f3a;
}
.buttomBack:hover, .buttomUp svg:hover {
  color: rgba(84, 95, 58, 0.7882352941);
}

.buttomUp {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
}
@keyframes pulsate {
  0% {
    box-shadow: 0 0 10px #7f8e57, 0 0 25px #383f3a;
  }
}
.fa-linkedin {
  color: #818C61;
}
.fa-linkedin:hover {
  color: #0d1102;
}

.fa-instagram {
  color: #4F611E;
}
.fa-instagram:hover {
  color: #0d1102;
}

.fa-envelope {
  color: #9BAD6A;
}
.fa-envelope:hover {
  color: #0d1102;
}

.photo img {
  border-radius: 50% 10%;
  display: block;
  /*para centrar la imagen*/
  margin-left: auto;
  margin-right: auto;
  box-shadow: 5px 5px 5px rgba(84, 95, 58, 0.7882352941);
}

section h1, section h2 {
  font-weight: 400;
  color: #383f3a;
  padding: 3vh 0;
}
section .textAbout {
  text-align: justify;
}
section article h3 {
  color: #5b6b2e;
  font-weight: 400;
  text-align: justify;
}
section article .date {
  color: #0d1102;
  font-style: italic;
}

.skill div p {
  color: #5b6b2e;
  font-family: Quicksand, Arial, Helvetica, sans-serif;
  font-weight: 600;
  text-align: center;
}
.skill div p span {
  color: #383f3a;
}

body {
  font-family: Quicksand, Arial, Helvetica, sans-serif;
}

/*MOBILE*/
/*TABLET*/
/*DESKTOP*/
/*VARIABLES - PALETA DE COLORES */
/* color del texto predeterminado*/
/*color secundario del texto*/
/*color titulos*/
/*color subtitulos*/
/*color fecha about me*/
/*color para sombras*/
/*fondo de links*/
/*color de texto al aplicar hover*/
/*color de animacion 1 link*/
/*color de animacion 2 link*/
/*VARIABLES - PALETA DE COLORES */
/* color del texto predeterminado*/
/*color secundario del texto*/
/*color titulos*/
/*color subtitulos*/
/*color fecha about me*/
/*color para sombras*/
/*fondo de links*/
/*color de texto al aplicar hover*/
/*color de animacion 1 link*/
/*color de animacion 2 link*/
.boton {
  letter-spacing: 2px;
  background-color: #7f8e57;
  text-transform: uppercase;
  padding: 1% 2%;
  border-radius: 10px;
  box-shadow: 2px 5px 5px rgba(84, 95, 58, 0.7882352941);
  color: white;
}
.boton:hover {
  animation: pulsate 1s ease-in-out;
}

.buttomBack, .buttomUp svg {
  color: #383f3a;
}
.buttomBack:hover, .buttomUp svg:hover {
  color: rgba(84, 95, 58, 0.7882352941);
}

.buttomUp {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
}
@keyframes pulsate {
  0% {
    box-shadow: 0 0 10px #7f8e57, 0 0 25px #383f3a;
  }
}
.fa-linkedin {
  color: #818C61;
}
.fa-linkedin:hover {
  color: #0d1102;
}

.fa-instagram {
  color: #4F611E;
}
.fa-instagram:hover {
  color: #0d1102;
}

.fa-envelope {
  color: #9BAD6A;
}
.fa-envelope:hover {
  color: #0d1102;
}

.message :nth-child(2) {
  font-style: italic;
}
.message h1, .message p {
  text-align: center;
  font-weight: 300;
}

form input, form textarea {
  border: 1px solid #383f3a;
  border-radius: 5px;
  caret-color: rgba(84, 95, 58, 0.7882352941);
}

/*# sourceMappingURL=destiny.css.map */
