/* PROJECT */

.project-number{
    font-family: Dosis, Quicksand, Arial, Helvetica, sans-serif;
    font-weight: 300;
    text-shadow: 5px 5px 4px #545f3ac9;
}

.project-info{
    padding: 5% 0;
    margin: 0 10%;
}

.project-text{ text-align: justify;}

.project-img img{ width: 100%;}

.title-1{font-size: calc(2em);}

.title-2{
    /* formato para nombre individual */
    font-family: Dosis, Quicksand,Arial, Helvetica, sans-serif;
    color: #5b6b2e;
    font-size: calc(5rem);
}

hr{
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/* link see more project.html */
.link{
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    overflow: hidden;

}

/* efecto sobre los links */
.project-link{
    display: inline-block;
    text-decoration: none;
    color: whitesmoke;
    padding: 2% 5%;   
    background-color: #7f8e57;
    border-radius: 5px 20px;
    
}

.link:hover , .project-link:hover{
    animation: pulsate 1s ease-in-out;
    color: white;
}

@keyframes pulsate{
    0%{
        box-shadow:
        0 0 25px #7f8e57,
        0 0 50px #383f3a;
    }
}

.project01-info{
    margin: 0 10%;
    padding: 5% 0;
}

#album{ width: 80%;}

.featurette-heading{
    color: #545f3a;
    font-family: dosis, Arial, Helvetica, sans-serif;
    padding: 5%;
}

.lead{
    padding: 0 5%;
    font-size: 1rem;
    color: rgb(12, 12, 12);
}

#project-02{
    width: 80%;
    margin-left: 10%;
}

/* ABOUT ME */
.title__about{
    font-weight: 200;
    color: #383f3a;
}

.title__sub{
    color: #5b6b2e;
    font-weight: 300;
}

.text__about{ text-align: justify; }
.date, .title__sub__01{ color: #0d1102;}

.skill__icon p {
    color: #545f3a;
    font-family: Quicksand, Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
}

.photo img{
    border-radius: 50% 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 5px 5px #545f3a;
}

/* CONTACT */
#grid__contact{
    display: grid;
    grid-template-columns: 60%;
    grid-template-rows: 0.5fr 1fr;
    justify-content: center;
    align-items: center;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form input{
    width: 60%;
    margin-bottom: 3vh ;
}

form textarea{
    width:60%;
    margin-bottom: 3vh;
}


/*******
MOBILE 
*******/

@media (max-width: 768px){
/* PROJECT */
    #project01{
        display: grid;
        grid-template-areas:
        "number01 img01"
        "info01 info01";
        grid-template-columns: 0.4fr 0.6fr;
        grid-template-rows: 0.5fr auto;
    }
    /* areas de la grilla */
    .number01{grid-area: number01;}
    .img01{grid-area: img01;}
    .info01{grid-area: info01;}

    #project02{
        display: grid;
        grid-template-areas:
        "number02 img02"
        "info02 info02";
        grid-template-columns: 0.4fr 0.6fr;
        grid-template-rows: 0.5fr auto;
    }
      /* areas de la grilla */
    .number02{grid-area: number02;}
    .img02{grid-area: img02;}
    .info02{grid-area: info02;}

    .project-number{
        font-size: 8rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .project-img{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 5%;
    }

    .text-project{
        font-size: 1rem;
        font-weight: 300;
    }

    .title-2{margin-top: -5vh;}

/* CONTACT */
    form input{
        width: 80%;
        margin-bottom: 3vh ;
    }
    
    form textarea{
        width: 80%;
        margin-bottom: 3vh;
    }
}

/***********
TABLET  
************/

@media (min-width:769px) and (max-width:1199px){
/* PROJECT */
    #project01{
        display: grid;
        grid-template-areas:
        "number01 img01"
        "info01 info01";
        grid-template-columns: 0.4fr 0.6fr;
        grid-template-rows: 0.5fr auto;
    }
    /* areas de la grilla */
    .number01{grid-area: number01;}
    .img01{grid-area: img01;}
    .info01{grid-area: info01;}

    #project02{
        display: grid;
        grid-template-areas:
        "number02 img02"
        "info02 info02";
        grid-template-columns: 0.4fr 0.6fr;
        grid-template-rows: 0.5fr auto;
    }
      /* areas de la grilla */
    .number02{grid-area: number02;}
    .img02{grid-area: img02;}
    .info02{grid-area: info02;}

    .project-number{
        font-size: 12rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .project-img{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 5%;
    }

    .text-project{
        font-size: 1rem;
        font-weight: 300;
    }

    .title-2{margin-top: -5vh;}


}

/******** 
DESKTOP 
*******/

@media (min-width:1200px){
/* index */
    .title-name{font-size: 2.5rem;}

/* PROJECT */
    #project01{
        display: grid;
        grid-template-areas:
        "number01 img01 info01";
        grid-template-columns: 0.2fr 0.4fr 0.4fr;
        grid-template-rows: 1fr;
        width: 80%;
        margin-left: 10%;
    }
    /* areas de la grilla */
    .number01{grid-area: number01;}
    .img01{grid-area: img01;}
    .info01{grid-area: info01;}

    #project02{
        display: grid;
        grid-template-areas:
        "info02 img02 number02 ";
        grid-template-columns: 0.4fr 0.4fr 0.2fr;
        grid-template-rows: 1fr;        
        width: 80%;
        margin-left: 10%;
    }
      /* areas de la grilla */
    .number02{
        grid-area: number02;
        justify-content: start;
        align-items: center;
    }
    .img02{grid-area: img02;}
    .info02{grid-area: info02;}

    .project-number{
        font-size: 12rem;
        display: flex;
        justify-content: center;
    }

    .project-img{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 5%;
    }

    .text-project{
        font-size: 1.2rem;
        font-weight: 300;
    }

    .title-2{margin-top: -5vh;}

    /* transformacion aumento de escala de imagenes de planos */
    .scaled{transition: transform .2s;}

    .scaled:hover{transform: scale(1.5);}

}