/* CSS RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none; /*elimina el esilo en las listas */
    text-decoration: none; /*elimina las viñetas*/
    color: #383f3a; /* color del texto predeterminado*/
    user-select: none;
}

/*****************
*****************

ESTILOS GENERALES 

*****************
******************/

body{
    background-color: #fff;
    font-family: Quicksand, Arial, Helvetica, sans-serif; /*Fuente predeterminada para el contenido en general*/
    display: flex;
    flex-direction: column;
    min-height: 100vh; /*para que como minimo sea el viewport*/
}

footer p{
    text-align: center;
    margin-top: 5px;
    padding: 5px;
}
/* main{border: 1px solid blue;} */

/* INDEX */
.portada img{
    display: block; /*para centrar la imagen*/
    margin-left: auto;
    margin-right: auto;
}

.name hr, footer hr{ /*lineas de portada y footer*/
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.name h1{
    font-weight: 200;
    text-align: center;
}

.name h1 span{
    /*modifica parte del titulo*/
    color: #7f8e57;
    font-family: Dosis, Quicksan, Arial, Helvetica, sans-serif;
}

.text__index p{
    text-align: justify;
    font-size: 1.2rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    padding: 2px 5px ;
}

/* PROJECT */
.number01, .number02{
    font-style: bold;
    font-family: Dosis, Quicksand, Arial, Helvetica, sans-serif;
    font-weight: 200;
    text-shadow: 5px 5px 4px #545f3ac9;
}

.text__info01, .text__info02{ text-align: justify;}

.title001, .title002{
    /* formato para nombre individual */
    font-family: Dosis, Quicksand,Arial, Helvetica, sans-serif;
    color: #5b6b2e;
    font-size: 3.5rem;
}

.link01, .link02{
    /* formato del enlace para redireccionar */
    justify-self: end;
    align-self: center;
    margin-right: 30px;
    color: whitesmoke;
    font-weight: 500;
    background-color: #7f8e57;
    padding: 5px;
    border-radius: 1px 3px;
    box-shadow: 3px 3px 3px #545f3a;
}

/* PROJECT 02*/

.title_p02{
    font-weight: 200;
    font-size: 2.2rem;
    color: #5b6b2e;
    text-align: center;
}


/* ABOUT ME */
.title{
    font-weight: 400;
    color: #0d1102;
    font-family: Dosis, Quicksand, Arial, Helvetica, sans-serif;
    padding-top: 15px;
}

.title__sub{
    color: #5b6b2e;
    font-weight: 600;
}

.text__about{
    text-align: justify;
}

.date, .title__sub__01{
    color: #0d1102;
    
}

.skill__icon p {
    color: #545f3a;
    font-family: Quicksand, Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
}

.photo img{
    border-radius: 50% 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 5px 5px #545f3a;
}

/* CONTACT */
.firma{
    color: #545f3a;
    font-family: Dosis, Quicksand, Arial, Helvetica, sans-serif;
    font-weight: 600;
}

form{
    /* formulario */
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.boton{
    /* boton de enviar */
    padding: 4px 8px;
    background-color: #7f8e57a4;
    letter-spacing: 2px; /*espacio entre caracteres*/
    border-radius: 10px 5px;
    box-shadow: 2px 2px 2px #5b6b2e;
    cursor: pointer;
}

/***************** 
MOBILE 
******************/

@media (max-width:479px){
    /* HEADER */

    .logo{
        width: 200px;
        padding: 20px;
    }

    /* MENU HAMBURGUESA */
    nav{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .menu__btn{
        font-size: 35px;
        color: #7f8e57;
        cursor: pointer;
        margin-right: 50px;
    }

    .close{
        background-color: #545f3a;
        padding: 6px;
        border-radius: 5px 15px;
        box-shadow: 5px 5px 5px #383f3a;
    }

    .nav__links{
        position: fixed;
        top: 0px;
        text-align: center;
        background-color: #7f8e57;
        width: 100%;
        height: 0;
        transition: all 0.5s;
    }

    .nav__links li{
        display: none;
        line-height: 30px;
        margin: 50px;
        transition: all 0.5s;
        
    }

    .nav__links li a{
        color: whitesmoke;
        font-size: 2rem;
        text-transform: uppercase;
        font-weight: 200;

    }

    .nav__links li a.active,  .nav__links li a:hover{
        color: whitesmoke;
        transition: 0.3s;
    }
    
    #check{
        display: none;
    }
     /* pseudoclase checked para mostrar u ocultar el menu resposive cada vez que se de click en el icono */
    #check:checked ~ .nav__links {
        height: 100vh;
    }

    #check:checked ~ .nav__links li{
        display: block;
    }

    /* INDEX */
    #grid__index{
        display: grid;
        grid-template-areas:
        "portada"
        "name"
        "icon__home"
        "text__index";
        grid-template-columns: 100%;
        grid-template-rows:0.5fr 0.3fr 0.3fr auto;
    }

    /* Nombre de cada area de la grilla */

    .portada{grid-area: portada;}
    .portada img{
        width: 90%;
    }

    .name{grid-area: name;}
    .name hr{
        width: 90%;
    }
    .name h1 {
        font-size: 1.1em;
    }
    .icon__home{
        grid-area: icon__home;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 15px;
    }

    .icon__home img{
        width: 30%;
        margin-left: 30%;
    }
    .text__index{grid-area: text__index;}

    .text__index{
        width: 100%
    } 
    
    .text__index p{
        padding: 10px 15px 5px;
        text-align: justify;
        font-size: 1rem;
        margin-left: auto;
        margin-right: auto;}
    
    .buttom__up{
            display: none;
    }
    /* PROJECT */

    .buttom__back, .buttom__up{
        display: inline-block;
        background-color: #7f8e57;
        font-size: 20px;
        padding: 5px;
        border-radius: 7px 35px;
        box-shadow: 5px 5px 5px #383f3a;
        margin: 2% 5% 0%;
    }

    #project01{
        display: grid;
        grid-template-areas:
        "number01 berrino01"
        "title1 title1"
        "text__info01 text__info01"
        "link01 link01";
        grid-template-columns: 35% 65%;
        grid-template-rows: 1fr 0.6fr 0.4fr 0.5fr;
    }

    /* areas de la grilla projecto01 */
    .number01 {
        grid-area: number01;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
        align-items: center;
        font-size: 10em;
    }
    .berrino01{grid-area: berrino01;}
    .berrino01 img{
        width: 100%;
        margin-top: 10vh;
        margin-left: auto;
        margin-right: auto;
    }
    .title1{
        grid-area: title1;
        margin-left: auto;
        margin-right: auto;
    }

    .text__info01{
        grid-area: text__info01;
        text-align: justify;
        margin: 5px 5%;
    }

    .link01{grid-area: link01;}

    .title01, .title02{
        /* formato para "project" */
        color:#545f3a;
        font-size: 1.5rem;
    }
    .title001, .title002{
        font-size: 3.5rem;
    }

    #project02{
        display: grid;
        grid-template-areas:
        "genaro02 number02"
        "title2 title2"
        "text__info02 text__info02"
        "link02 link02";
        grid-template-columns: 65% 35%;
        grid-template-rows: 1fr 0.7fr 0.6fr 0.5fr;
    }

    /* areas de la grilla projecto01 */
    .number02{
        grid-area: number02;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
        font-size: 8em;
    }
    .genaro02{grid-area: genaro02;}
    .genaro02 img{
        width: 90%;
        margin-top: 5vh;
        margin-left: auto;
        margin-right: auto;
    }
    .title2{
        grid-area: title2;
        margin-left: auto;
        margin-right: auto;
    }
    .text__info02{
        grid-area: text__info02;
        text-align: justify;
        margin: 5px 5%;
    }
    .link02{grid-area: link02;}

    /* VIEW>>> PROJECT01 */
    .plan01{
        width: 80%;
    }

    .outside, .inside, .toilets{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 5%;
        margin-bottom: 2%;
    }


    .outside img , .inside img, .toilets img{padding: 10px;}
    
    /* VIEW>>> PROJECT02 */
    #grid__project02{
        display: grid;
        grid-template-areas: 
        "foundation"
        "metalic__structure"
        "concrete_beams"
        "main__level"
        "slabs"
        "water"
        "sewer"
        "gas";
        grid-template-columns: 100%;
        grid-template-rows: 0.7fr 0.7fr 0.6fr 0.4fr 0.8fr repeat(3,1fr) ;
    }

    .foundation{grid-area:foundation;}
    .metalic__structure{grid-area:metalic__structure;}
    .concrete_beams{grid-area:concrete_beams;}
    .main__level{grid-area:main__level;}
    .slabs{grid-area:slabs;}
    .water{grid-area:water ;}
    .sewer{grid-area:sewer;}
    .gas{grid-area:gas;}

    .plan{
        width: 80%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 10px;
    }

    article p{
        text-align: justify;
        margin-bottom: 10px;
        padding: 0px 5%;
    }


    /* ABOUT ME */
    
    #grid__about{
        display: grid;
        grid-template-areas: 
        "photo"
        "profile"
        "languague"
        "location"
        "experience"
        "skill"
        "education";
        grid-template-columns: 100%;
        grid-template-rows: 1fr 0.5fr 0.5fr 0.3fr repeat(4,auto);
    }

    .photo{grid-area: photo; margin-top: 30px;}
    .photo img{width: 300px;}
    .profile{grid-area: profile; margin-top: 0px;}
    .languague{grid-area: languague;}
    .location{grid-area: location;}
    .experience{grid-area: experience;}
    .skill{grid-area: skill;}
    .skill img{
        width: 30%;
    }
    .skill__icon{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
    }

    .education{grid-area: education;}
    
    .title{
        font-size: 1.4em;
        margin-bottom: 10px;
    }
    .title, .title__sub, .date, .text__about, .title__sub__01{ 
        margin: 0px 20px;}
    .text__about{margin-bottom: 20px;}

    /* CONTACT */
    #grid__contact{
        display: grid;
        grid-template-areas: 
        "menssage"
        "form"
        "icon__contact";
        grid-template-columns: 100%;
        grid-template-rows: 0.2fr 2fr 0.4fr;
    }

    /* nombre de las areas */
    .menssage{grid-area: menssage;}
    .text__contact{
        padding: 20px 20px 0px 20px;
        text-align: justify;
    }

    .end{
        text-align: center;
        padding: 5vw;
    }

    .firma{
        text-align: center;
        padding: 5px;
    }

    .icon__contact{grid-area: icon__contact;}
    .icon__contact img{
        width: 10%;
        margin-left: 25vw;
        padding: 10px 0px;
    }
    form{grid-area: form;}
    form input{
        padding-bottom: 10px;
        margin-bottom: 10px;
    }
    form textarea{margin-bottom: 10px;}

}

/***************** 
TABLET 
******************/

@media (min-width:480px) and (max-width:1023px){
    .logo{
        width: 20%;
        margin: 20px;
    }
    /* MENU HAMBURGUESA */
    nav{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .menu__btn{
        font-size: 40px;
        color: #7f8e57;
        cursor: pointer;
        margin-right: 50px;
    }
    .nav__links{
        position: fixed;
        top: 0px;
        text-align: center;
        background-color: #7f8e57;
        width: 100%;
        height: 0;
        transition: all 0.5s;
    }

    .close{
        background-color: #545f3a;
        padding: 6px;
        border-radius: 5px 15px;
        box-shadow: 5px 5px 5px #383f3a;
    }

    .nav__links li{
        display: none;
        line-height: 30px;
        margin: 50px;
        transition: all 0.5s;
    }
    .nav__links li a{
        color: whitesmoke;
        font-size: 2rem;
        text-transform: uppercase; /*transforma a mayuscula*/
        font-weight: 200;
    }
    #check{
        display: none;
    }
    #check:checked~.nav__links{
        height: 100vh;
    }
    #check:checked~.nav__links li{
        display: block;
    }
    /* INDEX */
    #grid__index{
        display: grid;
        grid-template-areas:
        "portada"
        "name"
        "icon__home"
        "text__index";
        grid-template-columns: 100%;
        grid-template-rows:0.5fr 0.3fr 0.3fr auto;

    }

    /* Nombre de cada area de la grilla */

    .portada{grid-area: portada;}
    .portada img{
        width: 90%;
    }

    .name{grid-area: name;}
    .name hr{
        width: 95%;
    }
    .name h1 {
        font-size: 1.6em;
    }
    .icon__home{
        grid-area: icon__home;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 15px;
    }

    .icon__home img{
        width: 30%;
        margin-left: 30%;
    }
    .text__index{grid-area: text__index;}

    .text__index{
        width: 100%
    } 
    
    .text__index p{
        padding: 10px 15px 5px;
        text-align: justify;
        font-size: 1rem;
        margin-left: auto;
        margin-right: auto;}

    /* PROJECT */

    .buttom__back, .buttom__up{
        background-color: #7f8e57;
        font-size: 35px;
        padding: 5px;
        border-radius: 7px 35px;
        box-shadow: 5px 5px 5px #383f3a;
        margin: 2% 5% 0%;
    }

    #project01{
            display: grid;
            grid-template-areas:
            "number01 berrino01"
            "title1 title1"
            "text__info01 text__info01"
            "link01 link01";
            grid-template-columns: 35% 65%;
            grid-template-rows: 0.4fr 0.3fr 0.3fr 0.2fr;
    }
    
    /* areas de la grilla projecto01 */
    .number01 {
                grid-area: number01;
                display: flex;
                flex-flow: row nowrap;
                justify-content: flex-end;
                align-items: center;
                font-size: 10em;
    }

    .berrino01{grid-area: berrino01;}
    .berrino01 img{
            width: 90%;
            margin-top: 15%;
            margin-left: auto;
            margin-right: auto;
    }
    .title1{
            grid-area: title1;
            margin-left: auto;
            margin-right: auto;
    }
    
    .text__info01{
            grid-area: text__info01;
            text-align: justify;
            margin: 5px 5%;
    }
    
    .link01{
            grid-area: link01;
            margin-right: 10%;
    }
    
    .title01, .title02{
            /* formato para "project" */
            color:#545f3a;
            font-size: 1.5rem;
    }
    .title001, .title002{
            font-size: 3.5rem;
    }
    
    #project02{
            display: grid;
            grid-template-areas:
            "genaro02 number02"
            "title2 title2"
            "text__info02 text__info02"
            "link02 link02";
            grid-template-columns: 65% 35%;
            grid-template-rows: 0.4fr 0.3fr 0.3fr 0.2fr;
    }
    
    /* areas de la grilla projecto01 */
    .number02{
            grid-area: number02;
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-start;
            align-items: center;
            font-size: 10em;
    }
    .genaro02{grid-area: genaro02;}
    .genaro02 img{
            width: 90%;
            margin-top: 15%;
            margin-left: auto;
            margin-right: auto;
    }
    .title2{
            grid-area: title2;
            margin-left: auto;
            margin-right: auto;
    }
    .text__info02{
            grid-area: text__info02;
            text-align: justify;
            margin: 5px 5%;
    }
    .link02{grid-area: link02;}

    /* VIEW>>> PROJECT01 */
    .plan01{
        width: 80%;
    }

    .outside, .inside, .toilets{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 5%;
        margin-bottom: 2%;
    }

    .outside img , .inside img, .toilets img{padding: 10px;}

    /* VIEW>>> PROJECT02 */
    #grid__project02{
        display: grid;
        grid-template-areas: 
        "foundation"
        "metalic__structure"
        "concrete_beams"
        "main__level"
        "slabs"
        "water"
        "sewer"
        "gas";
        grid-template-columns: 100%;
        grid-template-rows: 0.7fr 0.8fr 0.4fr 0.5fr 0.8fr 0.8 1fr 1fr ;
    }
    
    .foundation{grid-area:foundation;}
    .metalic__structure{grid-area:metalic__structure;}
    .concrete_beams{grid-area:concrete_beams;}
    .main__level{grid-area:main__level;}
    .slabs{grid-area:slabs;}
    .water{grid-area:water ;}
    .sewer{grid-area:sewer;}
    .gas{grid-area:gas;}
    
    .plan{
        width: 80%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 10px;
    }
    
    article p{
        text-align: justify;
        margin-bottom: 10px;
        padding: 0px 5%;
    }

    /* ABOUT ME */
    
    #grid__about{
        display: grid;
        grid-template-areas: 
        "photo"
        "profile"
        "languague"
        "location"
        "experience"
        "skill"
        "education";
        grid-template-columns: 100%;
        grid-template-rows: 1fr 0.4fr 0.2fr 0.2fr repeat(4,auto);
    }

    .photo{grid-area: photo; margin-top: 8vh;}
    .photo img{width: 80%;}
    .profile{grid-area: profile; margin-top: 0px;}
    .languague{grid-area: languague;}
    .location{grid-area: location;}
    .experience{grid-area: experience;}
    .skill{grid-area: skill;}
    .skill__icon img{
        width: 10%;
    }
    
    .skill__icon{
        display: flex;
        flex-flow: column wrap;
        justify-content: space-between;
        align-items:center ;
    }
    .education{grid-area: education;}
    
    .title{
        font-size: 1.4em;
        }
    .title, .title__sub, .date, .text__about, .title__sub__01{
        margin: 0px 20px;}

    .text__about{margin-bottom: 20px;}
    
    /* CONTACT */
    #grid__contact{
        display: grid;
        grid-template-areas: 
        "menssage"
        "form"
        "icon__contact";
        grid-template-columns: 100%;
        grid-template-rows: 0.2fr 2fr 0.4fr;
    }

    /* nombre de las areas */
    .menssage{grid-area: menssage;}
    .text__contact{
        margin: 10px 20%;
        text-align: justify;
    }

    .end{
        text-align: center;
        padding: 5vw;
        
    }

    .firma{
        text-align: center;
        padding: 5px;
        
    }

    .icon__contact{grid-area: icon__contact;}
    .icon__contact img{
        width: 5%;
        margin-left: 30vw;
        padding: 10px 0px;
    }
    form{grid-area: form;}
    form input{
        width: 70%;
        padding-bottom: 10px;
        margin-bottom: 10px;
    }
    form textarea{
        margin-bottom: 10px;
        width: 70%;
    }

    .boton{
        width: 15%;
    }

}


/***************** 
DESKTOP
******************/

@media (min-width: 1024px){
    
    .logo{
        width: 100px;
        margin: 20px 0px 0px 50px;
    }

    /* MENU HAMBURGUESA */
    .menu__btn{
        display: none; /*para ocultar el icono de la barra*/
    }
    #check{
        display: none; /*para ocultar la opcion de check*/
    }

    nav{
        width: 100%;
        display: flex;
        justify-content: space-between; /*para que los elemenos estes espaciados equivalente entre si*/
        align-items: center;
        padding: 5px;
    }

    .nav__links li{
        display: inline-block; /*menu de manera horizontal*/
        margin-right: 80px;
    }

    #close__td{display: none;}

    .nav__links li a{
        font-size: 2em;
        font-weight: 300;
    }

    .portada img{
        width: 55%;
        padding: 2px;
    }

    /* INDEX */
    #grid__index{
        display: grid;
        grid-template-areas:
        "portada portada portada" /*1 fila*/
        "name name name" /*2 fila*/
        "icon__home text__index none"; /*3 fila*/
        grid-template-columns: 15% auto 15%; /*medidas primera columna*/
        grid-template-rows: 1fr 0.4fr auto ; /*medidas para las filas*/
    }

    /* Nombre de cada area */
    header{grid-area: header;}    
    .portada{grid-area: portada;}
    .name{
        grid-area: name;
        padding: 3px;
    }
    .icon__home{
        grid-area: icon__home;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .icon__home img{
        width: 40%;
        margin-left: 50px ;
    }

    .text__index{grid-area: text__index;}
    footer{grid-area: footer;}

    .name h1 {
        font-size: 2.5em; /*tamaño del titulo*/
    } 
    
    .buttom__up{
        display: none;
    }

    /* 
    PROJECT 
    */

    #project01{
        display: grid;
        grid-template-areas:
        "number01 berrino01 title1"
        "number01 berrino01 text__info01"
        "number01 berrino01 link01";
        grid-template-columns: 25% auto 35%;
        grid-template-rows: 0.5fr 1fr 0.4fr 0.2fr;
    }

    .number01{
        grid-area: number01;
        font-size: 20rem;
        display: flex;
        justify-content:flex-end;
        align-items: center;
    }
    .berrino01{grid-area: berrino01;}
    .title1{
        grid-area: title1;
        margin-top: 10vh;
    }
    .berrino01 img{ 
        width: 100%;
        margin-top: 10vh;
    }
    .text__info01{
        grid-area: text__info01;
        padding: 10px;
    }
    .link01{grid-area: link01;}

    #project02{
        display: grid;
        grid-template-areas: 
        "genaro02 title2 number02"
        "genaro02 text__info02 number02"
        "genaro02 link02 number02";
        grid-template-columns: 35% auto 27%;
        grid-template-rows: 0.5fr 1fr 0.4fr 0.3fr;
    }

    .number02{
        grid-area: number02;
        font-size: 20rem;
        display: flex;
        justify-content:flex-start;
        align-items: center;
    }
    .genaro02{
        grid-area: genaro02;
    }

    .genaro02 img{
        width: 100%;
        margin-top: 25vh;
    }
    .title2{
        grid-area: title2;
        margin-top: 25vh
    }
    .text__info02{grid-area: text__info02;}

    .link02{grid-area: link02;}
        
   /* VIEW>>> PROJECT01 */
    .plan01{
        width: 20%;
    }


    .outside{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 5%;
        margin-bottom: 2%;
    }

    .inside{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 5%;
        margin-bottom: 2%;
    }
    .toilets{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 5%;
    }

    .outside img , .inside img, .toilets img{padding: 10px;}
    
    
    /* VIEW>>> PROJECT02 */

    .buttom__back, .buttom__up{
        display: inline-block;
        background-color: #7f8e57;
        font-size: 35px;
        padding: 5px;
        border-radius: 7px 35px;
        box-shadow: 5px 5px 5px #383f3a;
        margin: 2% 5% 0%;
    }
    #grid__project02{
        display: grid;
        grid-template-areas: 
        "foundation"
        "metalic__structure"
        "concrete_beams"
        "main__level"
        "slabs"
        "water"
        "sewer"
        "gas";
        grid-template-columns: 100%;
        grid-template-rows: 0.7fr 0.8fr 0.4fr 0.5fr 0.8fr 0.8 1fr 1fr ;
    }
    .foundation{grid-area: foundation;}
    .metalic__structure{grid-area: metalic__structure;}
    .concrete_beams{grid-area:concrete_beams;}
    .main__level{grid-area:main__level;}
    .slabs{grid-area: slabs;}
    .water{grid-area: water;}
    .sewer{grid-area: sewer;}
    .gas{grid-area: gas;}


    .foundation, .metalic__structure, .main__level, .slabs {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px 4%;
    }
    
    .water, .sewer, .gas{
        display: grid;
        grid-template-columns: 20% auto 40%;
        grid-template-rows:100% ;
        align-items: center;
    }
    
    .plan__container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .plan{
        width: 40%;
        padding: 10px;
    }

    .plan__text{
        justify-self: stretch;
    }
    
    article p{
        text-align: justify;
        margin-bottom: 10px;
        padding: 0px 5%;
    }


    /*
    ABOUT ME   
    */

    #grid__about{
        display: grid;
        grid-template-areas: 
        "photo profile"
        "photo languague"
        "photo location"
        "skill experience"
        "education education";
        grid-template-columns: 40% 60%;
        grid-template-rows: 1fr 0.5fr 0.3fr auto 2fr;
    }

    .photo{
        grid-area: photo;
        justify-self: center;
        align-self: center;
    }
    .photo img{
        width: 70%; /*respecto del main*/
        border-radius:  50% 10%;
        display: block; /*para que se pueda centrar con margin*/
        margin-left: auto;
        margin-right: auto;
        box-shadow:5px 5px 5px #545f3a;
    }
    .profile{grid-area: profile;}
    .languague{grid-area: languague;}
    .location{grid-area: location;}
    .experience{grid-area: experience;}
    .skill{grid-area: skill; margin-left: 10%;}
    .skill__icon{
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
    }
    .skill__icon img{
        width: 15%;
    }

    .skill__icon p{
        color: #545f3a;
        font-weight: 600;
        text-align: center;
    }

    .reset {
        clear: both;
    }

    .education{grid-area: education; margin-left: 5%;}

    .text__about{margin: 0px 5% 20px 0px;}

    /* CONTACT */
    #grid__contact{
        display: grid;
        grid-template-areas: 
        "none menssage ."
        "icon__contact form .";
        grid-template-columns: 20% auto 20%;
        grid-template-rows: 0.2fr 0.5fr ;
        height: 100vh;
    }

    /* nombre de las areas */
    .menssage{grid-area: menssage;}
    .text__contact{
        text-align: justify;
        margin: 10px 0px;
    }

    .end{
        text-align: center;
        margin-bottom: 10px;
    }

    .firma{
        text-align: center;
    }

    .icon__contact{
        grid-area: icon__contact;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    .icon__contact img{
        width: 20%;
        margin-left: 50%;
    }

    form{grid-area: form;}
    form input{
        width: 80%;
        padding-bottom: 10px;
        margin-bottom: 10px;
    }
    form textarea{
        margin-bottom: 10px;
        width: 80%;
    }

    .boton{
        width: 10%;
    }



}