@import "../base/color";

footer{
    width: 80%;
    margin-left: 10%;
    a{
        text-decoration: none;
        color: $textgral;
        &:hover{
            color: $color-date;
        }
    }
        .hidden-text{
            font-size: 0px;
            width: 0px;
            height: 0px;
        }
} 

