@import "../base/color";

footer{
    width: 80%;
    margin-left: 10%;
    a{
        text-decoration: none;
        color: $textgral;
        &:hover{
            color: $color-date;
        }
    }
} 

@mixin size_icon_footer ($width, $padding_bottom, $margin_right) {
    width: $width;
    padding-bottom: $padding_bottom;
    margin-right: $margin_right;
}