@import "../base/typography";
@import "footer";
@import "mixin";


/*MOBILE*/
@media (max-width: 768px){
    .logo{
        width: 100px;
    }
/*FOOTER*/
    footer{
        @include grid_base(center, center);
        grid-template-columns: 100%;
        grid-template-rows: 0.2fr 0.4fr;
        padding: 2%;
        font-size: $size_mobile_text;
        .footerText{
            justify-self: center;
            padding-bottom: 2%;
        }        
        div{
            padding: 2%;
            align-self: center;
            justify-self: center;
        }
    }

/*HOME*/
    .homeTitle{
        font-size: $size_title_mobile;
        span{
            font-size: $size_title_mobile;
        }
    }
    .textHome{
        p{
            font-size:$size_mobile_text;
        }
    }

/*PROJECT*/
    #project01{
        @include grid_base(center, center);
        grid-template-areas:
        "number01 img01"
        "info01 info01";
        grid-template-columns: 0.4fr 0.6fr;
        grid-template-rows: 0.5fr auto;
    }
    /* areas de la grilla */
    .number01{grid-area: number01;}
    .img01{grid-area: img01;}
    .info01{grid-area: info01;}

    .card h5{font-size: $size_subtitle_mobile;}

    #project02{
        @include grid_base(center, center);
        grid-template-areas:
        "number02 img02"
        "info02 info02";
        grid-template-columns: 0.5fr 0.5fr;
        grid-template-rows: 0.5fr auto;
    }
      /* areas de la grilla */
    .number02{grid-area: number02;}
    .img02{
        grid-area: img02;
        padding-left: 2%;
    }
    .info02{grid-area: info02;}

    .projectNumber{
        font-size: $size_project_number_mobile;
        @include flex(row, nowrap,center,center);
    }
    .projectImg{
        @include flex(row, nowrap,center,center);
        padding-right: 4%;
        img{
            width: 100%;
        }
    }

    .projectInfo{
        .title-1{
            font-size: $size_project_subtitle_mobile;
        }
        .title-2{
            font-size: $size_project_title_mobile;
        }
        .projectText{
            font-size: $size_mobile_text;
            font-weight: 300;
        }
    }
    .lead{font-size: $size_mobile_text;}

/*ABOUT ME*/
    section{
        margin: 0 10%;
        h1, h2{
            font-size:$size_title_mobile;
            text-align: center;
            padding-top: 3vh;  
        }
        .textAbout{ 
            font-size:$size_mobile_text;
            text-align: center;
            margin-bottom: 2vh;
        }
        article{
            h3{
                font-size: $size_subtitle_mobile;
                padding-bottom: 2vh;
            }
            .date{margin-bottom: 1vh;}
        }
    }
    #gridAbout{
        @include grid_project(90% , 5%);
        grid-template-areas: 
        "photo"
        "profile"
        "languague"
        "location"
        "experience"
        "skill"
        "education";
        grid-template-columns: 100%;
        grid-template-rows: 0.5fr 0.5fr 0.4fr 0.3fr repeat(4,auto);
    }
    .photo{
        grid-area: photo; 
        margin: 2% 0px;
        img{
            width: 70%;
        }
    }
    .profile{
        grid-area: profile; 
        margin-top: 0px;
    }
    .languague{
        grid-area: languague;
        text-align: center;
    }
    .location{
        grid-area: location;
        text-align: center;
    }
    .experience{grid-area: experience;}
    .skill{
        grid-area: skill;
        div{
            @include grid_base(center, center);
            grid-template-columns: 0.2fr 0.7fr;
            grid-template-rows: repeat(7, auto);
            p{
                font-size: $size_mobile_text;
                span{
                    font-size: $size_mobile_text;
                }
            }
            img{
                width: 100%;
            }
        }
    }
    .education{
        grid-area: education;
        .textEdu{text-align: justify}
    }

/*CONTACT*/
    #gridContact{
        @include grid_base(center, center);    
        .message{
            h1, p {font-size: $size_mobile_text;}
    
            :nth-child(2){
                font-size: $size_mobile_text *0.8;
            }
            .linkedin{
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 5%;
            }
            .textWork{
                width: 80%;
                margin-left: 10%;
                font-size: $size_mobile_text *0.8;
                font-style: italic;
            }
        } 
    
    }
}


/*TABLET*/
@media (min-width:769px) and (max-width:1199px){
    .logo{
        width: 150px;
    }
/*FOOTER*/
    footer{
        @include grid_base(center, center);
        grid-template-columns: 50% 50%;
        grid-template-rows: 0.5fr;
        padding: 2%;
        font-size: $size_tablet_text;
        .footerText{
            justify-self: flex-start;
        }   
        div{
            width: 50%;
            justify-self: flex-end;
        }        
    }
/*HOME*/
    .homeTitle{
        font-size: $size_title_tablet;
        span{
            font-size: $size_title_tablet;
        }
    }
    .textHome{
        p{
            font-size:$size_tablet_text;
        }
    }

/* PROJECT */
    #project01{
        @include grid_base(center, center);
        grid-template-areas:
        "number01 img01"
        "info01 info01";
        grid-template-columns: 0.4fr 0.6fr;
        grid-template-rows: 0.5fr auto;
    }
    /* areas de la grilla */
    .number01{grid-area: number01;}
    .img01{grid-area: img01;}
    .info01{grid-area: info01;}

    .card h5{font-size: $size_subtitle_tablet;}

    #project02{
        @include grid_base(center, center);
        grid-template-areas:
        "number02 img02"
        "info02 info02";
        grid-template-columns: 0.4fr 0.6fr;
        grid-template-rows: 0.5fr auto;
    }
      /* areas de la grilla */
    .number02{grid-area: number02;}
    .img02{grid-area: img02;}
    .info02{grid-area: info02;}

    .projectNumber{
        font-size: $size_project_number_tablet;
        @include flex( row, nowrap, center, center);
    }

    .projectImg{
        @include flex( row, nowrap, center, center);
        padding-right: 5%;
        img{
            width: 100%;
        }
    }

    .projectInfo{
        .title-1{
            font-size: $size_project_subtitle_mobile ;
        }
        .title-2{
            font-size: $size_project_title_mobile;
        }
        .project-text{
            font-size: $size_tablet_text;
            font-weight: 300;
        }
    }
    .lead{font-size: $size_tablet_text;}

    /* transformacion aumento de escala de imagenes de planos */
    .scaled{transition: transform .2s;}

    .scaled:hover{transform: scale(1.5);}

/* ABOUT ME */  
    section{
        margin: 0 10% ;
        h1, h2{
            font-size: $size_title_tablet;
            text-align: start;
            padding: 3vh 0;  
        }
        .textAbout{ 
            font-size: $size_tablet_text;
            padding-left: 3%;
        }
        article{
            h3{
                text-align: justify;
                font-size: $size_subtitle_tablet;
            }
            .date{margin-left: 3%;}
        }
    }

    #gridAbout{
        @include grid_project(80% , 10%);
        grid-template-areas: 
        "photo photo"
        "profile profile"
        "languague location"
        "experience experience"
        "skill skill"
        "education education";
        grid-template-columns: 0.5fr 0.5fr;
        grid-template-rows: 1fr 0.5fr 0.3fr repeat(4,auto);
    }

    .photo{
        grid-area: photo; 
        margin: 2% 0px;
        img{width: 60%;}

    }
    .profile{
        grid-area: profile; 
        margin-top: 0px;
    }
    .languague{
        grid-area: languague;
        @include flex (column, nowrap, flex-start, center);
        margin-left:  -10%;
    }
    .location{grid-area: location;}
    .experience{grid-area: experience;}
    .skill{
        grid-area: skill;
        div{
            display: grid;
            grid-template-columns: 0.3fr 0.7fr;
            grid-template-rows: repeat(7, auto);
            justify-content: center;
            align-items: center;
            margin-left: 10%;
            img{
                width: 50%;
            }
        }
    }
    .education{grid-area: education;}
    
/*CONTACT*/    
    #gridContact{
        @include grid_base(center, center);
        
        .message{
            h1, p {font-size: $size_tablet_text;}

            :nth-child(2){
                font-size: $size_tablet_text *0.8;
            }
            .linkedin{
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 5%;
            }
            .textWork{
                width: 80%;
                margin-left: 10%;
            }
        }  
    }  
}

/********   
DESKTOP 
*******/

@media (min-width:1200px){
    .logo{
        width: 150px;
    }
/*FOOTER*/
    footer{
        @include grid_base(center, center);
        grid-template-columns: 50% 50%;
        grid-template-rows: 0.5fr;
        .footerText{
            justify-self: flex-start;
        }
        font-size: $size_text_desktop;
        div{
            padding: 1%;
            width: 25%;
            justify-self: flex-end;
        }        
    }

/*HOME*/
    .homeTitle{
        font-size: $size_title_desktop;
        span{
            font-size: $size_title_desktop;
        }
    }
    .textHome{
        p{
            font-size: $size_text_desktop ;
        }
    }

/* PROJECT */

    #project01{
        @include grid_base(center, center);
        grid-template-areas:
        "number01 img01 info01";
        grid-template-columns: 0.2fr 0.4fr 0.4fr;
        grid-template-rows: 1fr;
        
    }
    /* areas de la grilla project01 */
    .number01{grid-area: number01;}
    .img01{grid-area: img01;}
    .info01{grid-area: info01;}

    .card h5{font-size: $size_subtitle_desktop;}

    #project02{
        @include grid_base(center, center);
        grid-template-areas:
        "info02 img02 number02 ";
        grid-template-columns: 0.4fr 0.4fr 0.2fr;
        grid-template-rows: 1fr;
    }
      /* areas de la grilla project02 */
    .number02{
        grid-area: number02;
        justify-content: start;
        align-items: center;
    }
    .img02{grid-area: img02;}
    .info02{grid-area: info02;}

    .projectNumber{
        font-size: $size_project_number_desktop;
        @include flex(row, nowrap,center,center);
    }
    .projectImg{
        @include flex( row, nowrap, center, center);
        padding-right: 5%;
        img{
            width: 100%;
        }        

    }    
    .projectInfo{
        .title-1{
            font-size: $size_title_project_desktop;
        }
        .title-2{
            font-size: $size_subtitle_project_desktop;
        }
        .projectText{
            font-size: $size_text_desktop;
        }
    }

    .projectInfo01{
        font-size: $size_text_desktop;
    }
    /* transformacion aumento de escala de imagenes de planos */
    .scaled{transition: transform .2s;}

    .scaled:hover{transform: scale(1.5);}

/* ABOUT ME */
    section{
        h1, h2{
            font-size: $size_title_desktop;
            text-align: start;
        }
        .textAbout{ 
            font-size: $size_text_desktop;
            padding-left: 5%;
        }
        article{
            h3{
                font-size: $size_subtitle_desktop;
                padding: 5px 2%;
            }
            .date{margin-left: 5%;}
        }
    }

    #gridAbout{
        @include grid_project(80% , 10%);
        grid-template-areas: 
        "photo profile profile"
        "photo languague location"
        "skill experience experience"
        "education education education";
        grid-template-columns: 0.5fr auto 0.4fr;
        grid-template-rows: 0.5fr 0.5fr auto 2fr;
    }
    .profile{
        grid-area: profile;
        @include flex (column, nowrap, flex-start, center);
        h1, h2, p{
            align-self: flex-start;
            padding-left: 5%;
        }
    }
    .photo{
        grid-area: photo;
        justify-self: center;
        align-self: center;
        img{
            width: 100%;
        }
    }
    .languague{
        grid-area: languague;
        @include flex (column, nowrap, flex-start, center);
    }
    .location{
        grid-area: location;
        @include flex (column, nowrap, flex-start, center);
    }
    .experience{
        grid-area: experience;
        padding-left: 5%;
    }
    .skill{
        grid-area: skill; 
        div{
            @include grid_base( center, center);
            grid-template-columns: 0.2fr 0.7fr;
            grid-template-rows: repeat(7, auto);
            margin: 5% 0;
            p{
                font-size: $size_text_desktop ;
                span{
                    font-size: $size_text_desktop ;
                }
            }
            img{
                width: 100%;
            }
        }
    }

    .education{
        grid-area: education;
        h3{
            text-align: justify;
            font-size: $size_subtitle_desktop;
            padding-bottom: 5px;
        }
        .dateEdu{padding-left: 3%;}
        .textEdu{
            padding-left: 5%;
            font-size: $size_text_desktop;
        }
    }

/*CONTACT*/
    #gridContact{
        @include grid_base(center, center);
        .message{
            h1,p {font-size: $size_text_desktop;}

            :nth-child(2){
                font-size: calc($size_text_desktop *0.8);
            }
            .linkedin{
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 2% 0% 5% 0%;
            }
            .textWork{
                font-size: $size_text_span_desktop;
                font-style: italic;
            }
        } 

    }


}