@use "../base/color";

header{
        z-index: 10000;
        height: 82px;
        box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.12);
        backdrop-filter: blur(2px);
        position: fixed;
        background-color: color.$color-bg-blur;
        nav.navbar{
            align-items: center;
            padding-top: 12px;
            height: 100%;
            .navbar-brand{
                .logo{
                    height: 62px;
                    object-fit: contain;
                }
            }
            .nav-item{
                .nav-link{
                    color: color.$black;
                    font-weight: 300;
                    &.active {
                        color: color.$text-span; // El color que quieres para cuando esté activo
                        font-weight: 400; // Cualquier otro estilo que quieras añadir
                      }
                }
            }   
        }

}

@media (max-width: 768px){
    nav.navbar{
        height: 100%;
        .navbar-brand{
            object-fit: contain;
            padding-top: 0px;
            .logo{
                height: 30px;
                width: 80px;
                object-fit: contain;
            }

        }

        .navbar-collapse {
            background-color: #ffffff;
            padding: 16px;
            backdrop-filter: blur(2px);
            border-radius: 4px;
            box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.12);

            .nav-item{
                .nav-link{
                    color: color.$black;
                    font-weight: 400;
                    &.active {
                        color: color.$text-span; // El color que quieres para cuando esté activo
                        font-weight: 500; // Cualquier otro estilo que quieras añadir
                      }
                }
            }
            



    }
}
}