@import "../base/typography";
@import "../base/color";
@import "../componet/buttom";


.photo img{
    border-radius: 50% 10%;
    display: block; /*para centrar la imagen*/
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 5px 5px $color-shadow;
}

section{
    h1, h2{
        font-weight: 400;
        color: $title;
        padding: 3vh 0; 
    }
    .textAbout{
        text-align: justify;
    }
    article{
        h3{
            color: $subtitle;
            font-weight: 400;
            text-align: justify;
        }
        .date{
            color: $color-date;
            font-style: italic;
        }
    }
}

.skill{
    div{
        p{
            color: $subtitle;
            font-family: Quicksand, Arial, Helvetica, sans-serif;
            font-weight: 600;
            text-align: center;
            span{
                color: $textgral;
            }
        }
    }
}



