@import "../base/typography";
@import "../base/color";
@import "../componet/buttom";

.message{
    font-weight: 400;
    :nth-child(2){
        font-style: italic; 
    }
    h1,p{
        text-align: center;
    }
}

form {
    input, textarea{
        border: 1px solid $textgral;
        border-radius: 5px;
        caret-color: $color-shadow;
    }
}
