@import "../base/typography";
@import "../base/color";
@import "../componet/buttom";

.message{
    :nth-child(2){
        font-style: italic; 
    }
    p{
        text-align: center;
    }
}

form {
    input, textarea{
        border: 1px solid $textgral;
    }
}
