@import "../base/typography";
@import "../base/color";


.container_home{
    @include structure ( 80% , 10%);
    .container_img{
        @include flex( row, nowrap, center, center);
        img{
            width: 80%;
        }
    }
    .container_title{
        h1{
            text-align: center;
            animation-duration: 5s;
            animation-name: color__name;
            animation-iteration-count: 1;
            /* animacion al titulo*/
            @keyframes color__name {
                0%{opacity: 0;}
                100%{opacity: 1;}
            }
            span{
                color: $text-span;
                font-family: Dosis, Quicksan, Arial, Helvetica, sans-serif;
            }
        }

    }
    .text_index p{
        text-align: justify;
    }

}





