@import "../base/typography";
@import "../base/color";


.logo{
    width: 150px;
}
.containerHome{
    @include structure ( 80% , 10%);
    overflow: hidden;
    .homeImg{
        @include flex( row, nowrap, center, center);
        img{
            width: 80%;
        }
    }
    .homeTitle{
        h1{
            text-align: center;
            animation-duration: 5s;
            animation-name: color__name;
            animation-iteration-count: 1;
            /* animacion al titulo*/
            @keyframes color__name {
                0%{opacity: 0;}
                100%{opacity: 1;}
            }
            span{
                color: $text-span;
                font-family: Dosis, Quicksan, Arial, Helvetica, sans-serif;
            }
        }

    }
    .textHome p{
        text-align: justify;
    }

}





