@import "../base/typography";
@import "../base/color";
@import "../componet/link";

hr{
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*PORTADAS PAGINA PROJECT*/
#project01{
    @include structure (80%,10%);
    .project-number{
        font-family: Dosis, Quicksand, Arial, Helvetica, sans-serif;
        font-weight: 300;
        text-shadow: 5px 5px 4px $color-shadow;
    }
    .project-info{
        margin: 0 10%;
        padding: 5% 0;        
        .title-2{
            /* formato para nombre individual */
            font-family: Dosis, Quicksand,Arial, Helvetica, sans-serif;
            color: $subtitle;
            margin-top: -5vh;
        }
        .project-text{
            text-align: justify;
            font-weight: 300;
        }
    }
}  

#project02{
    @extend #project01;  
}


/*PROJECTO-01 INDIVIDUAL*/

#project01_expl{
    @extend #project01;
}

.project_info01{
    @include structure (80%,10%);
    p{ 
        padding: 2%;
        font-weight: 300;
    }
}

#album{ 
    width: 80%;
    h5{
        font-family: Quicksand, Arial, Helvetica, sans-serif;
        font-weight: 300;
        text-align: center;
    }
}


/*PROJECTO-02 INDIVIDUAL*/
#project01_expl2{
    @extend #project02;
    @include structure(80%,10%)
}

#project_info02{
    @include structure (80%,10%);
    p{ padding: 5%;}
}

.grid_img_02{
    @include  flex(row, nowrap, center, center);
}
.featurette-heading{
    color: #545f3a;
    font-family: dosis, Arial, Helvetica, sans-serif;
    padding: 5%;
}

.lead{
    color:$textgral;
}
