@import "../base/typography";
@import "../base/color";
@import "../componet/link";


.wait{
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    h2{
        font: 2rem;
        color: #7c7c7b;
        font-weight: 200;
    }
    img{
        width: 400px;
        margin-bottom: 20px;
        opacity: 0.6;
    }
}


/*PORTADAS PAGINA PROJECT*/


.container-projects{
    position: relative;
    top: 40px;
    margin-top: 60px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8rem;
    h2{
        font-size: $size_text_span_desktop;
        color: $title;
    }
    .project{
        background-color: #F5F7F0;
        height: 16rem;
        /*position: relative; */
        overflow: hidden;
        border-radius: 8px;
        transition: transform 0.3s ease-in-out;
        .container-project{
            text-decoration: none;
            display: grid;
            grid-template-areas: "titulos informacion";
            grid-template-columns: 0.5fr 1fr;
            grid-template-rows: 1fr;
                .title{
                    grid-area: titulos;
                    display: grid;
                    grid-template-areas: 
                    "num titulo";
                    grid-template-columns: auto 1fr;
                    gap: 20px;
                    span{
                        grid-area: num;
                        font-family: Roboto, Arial, Helvetica, sans-serif;
                        font-size: 280px;
                        position: relative;
                        top: -80px;
                        margin-right: 20px;
                        min-width: 120px;
                        color: rgba(32, 32, 32, 0.20);
                        letter-spacing: 20px;
                    }
                    .titulo{
                        grid-area:titulo;
                        position: relative;
                        display: flex;
                        flex-direction: column;
                        width: 20rem;
                        align-items: start;
                        justify-content: start;
                        h2{
                            font-family: Roboto, Arial, Helvetica, sans-serif;
                            font-weight: 200;
                            font-size: 32px;
                            color: $color-date;
                        }
        
                        h3{
                            font-weight: 400;
                            font-size: 42px;
                            width: fit-content;
                            color: $color-date;
                        }
        
                    }
                }

                .text{
                    grid-area: informacion; 
                    display: flex;
                    padding-top: 2rem;          
                    p{
                        color: $color-date;
                    }
        
        
                }

            }         
    
        }
}


@media (min-width:1200px){
    .project{
        &:hover{
            transform: scale(1.1); 
            box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.24), 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
            border: 0.5px solid $divider-secodnary;
            z-index: 100;
        }
        
    }
}

#project01{
    @include structure (80%,10%);
    .projectNumber{
        font-family: Roboto, Arial, Helvetica, sans-serif;
        font-weight: 300;
        text-shadow: 5px 5px 4px $color-shadow;
    }
    .projectInfo{      
        .title-2{
            font-family:  Roboto,Arial, Helvetica, sans-serif;
            color: $subtitle;
        }
        .projectText{
            text-align: justify;
            font-weight: 400;
        }
    }
}  

#project02{
    @extend #project01;  
}


/*MOBILE*/

@media (max-width: 768px){
    .container-projects{
        position: relative;
        top: 40px;
        margin-top: 60px;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 8rem;
        h2{
            font-size: $size_text_span_desktop;
            color: $title;
        }
        .project{
            background-color: #F5F7F0;
            height: 32rem;
            /*position: relative; */
            overflow: hidden;
            border-radius: 8px;
            transition: transform 0.3s ease-in-out;
            width: 100%;
            margin-left: 0;
            margin: 0 !important;
            padding: 8px !important;
            margin-bottom: 40px !important;
            .container-project{
                text-decoration: none;
                display: grid;
                grid-template-areas: "titulos" "informacion";
                grid-template-columns: 1fr;
                grid-template-rows: 1fr 1fr;
                    .title{
                        grid-area: titulos;
                        display: grid;
                        grid-template-areas: 
                        "num titulo";
                        grid-template-columns: 20% 80%;
                        gap: 0px;
                        span{
                            grid-area: num;
                            font-family: Roboto, Arial, Helvetica, sans-serif;
                            font-size: 280px;
                            position: relative;
                            top: -80px;
                            margin-right: 20px;
                            min-width: 120px;
                            color: rgba(32, 32, 32, 0.20);
                            letter-spacing: 20px;
                        }
                        .titulo{
                            grid-area:titulo;
                            position: relative;
                            display: flex;
                            flex-direction: column;
                            width: 16rem;
                            align-items: start;
                            justify-content: start;
                            h2{
                                font-family: Roboto, Arial, Helvetica, sans-serif;
                                font-weight: 200;
                                font-size: 32px;
                                color: $color-date;
                            }
            
                            h3{
                                font-weight: 400;
                                font-size: 38px;
                                width: fit-content;
                                color: $color-date;
                            }
            
                        }
                    }
    
                    .text{
                        grid-area: informacion; 
                        display: flex;
                        padding: 0 rem;
                        margin-top: -12rem; 
                        margin-left: 0px;  
                        width: 15rem;     
                        p{
                            color: $color-date;
                        }
            
            
                    }
    
                }         
        
            }
    }

}

/*Tablet*/
@media (min-width:769px) and (max-width:1199px){
    .container-projects{
        position: relative;
        top: 40px;
        margin-top: 60px;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 8rem;
        h2{
            font-size: $size_text_span_desktop;
            color: $title;
        }
        .project{
            background-color: #F5F7F0;
            height: 16rem;
            /*position: relative; */
            overflow: hidden;
            border-radius: 8px;
            transition: transform 0.3s ease-in-out;
            width: 100%;
            margin-left: 0;
            .container-project{
                text-decoration: none;
                display: grid;
                grid-template-areas: "titulos informacion";
                grid-template-columns: 40% 60%;
                grid-template-rows: 1fr;
                    .title{
                        grid-area: titulos;
                        display: grid;
                        grid-template-areas: 
                        "num titulo";
                        grid-template-columns: 20% 80%;
                        gap: 12px;
                        span{
                            grid-area: num;
                            font-family: Roboto, Arial, Helvetica, sans-serif;
                            font-size: 280px;
                            position: relative;
                            top: -80px;
                            margin-right: 20px;
                            min-width: 120px;
                            color: rgba(32, 32, 32, 0.20);
                            letter-spacing: 20px;
                        }
                        .titulo{
                            grid-area:titulo;
                            position: relative;
                            display: flex;
                            flex-direction: column;
                            width: 16rem;
                            align-items: start;
                            justify-content: start;
                            h2{
                                font-family: Roboto, Arial, Helvetica, sans-serif;
                                font-weight: 200;
                                font-size: 32px;
                                color: $color-date;
                            }
            
                            h3{
                                font-weight: 400;
                                font-size: 38px;
                                width: fit-content;
                                color: $color-date;
                            }
            
                        }
                    }
    
                    .text{
                        grid-area: informacion; 
                        display: flex;
                        padding-top: 0rem;        
                        p{
                            color: $color-date;
                        }
            
            
                    }
    
                }         
        
            }
    }

}