/*VARIABLES - PALETA DE COLORES */

$textgral: #3A4226;  /* color del texto predeterminado*/
$text-span: #114CE1; /*color secundario del texto*/
$title: #114CE1; /*color titulos*/
$subtitle: #3965d6; /*color subtitulos*/
$color-date: #5C5C5C; /*color fecha about me*/
$color-shadow: #3a425fc9; /*color para sombras*/
$bgc-link: #0048ff; /*fondo de links*/
$text-hover: #fcfcfc; /*color de texto al aplicar hover*/
$color-animation-1: #114CE1; /*color de animacion 1 link*/
$color-animation-2: #130f54; /*color de animacion 2 link*/
$color-hover-link: #fcfcfc;
$color-bg-blur: rgba(255, 255, 255, 0.10);
$color-bg: #fff;
$divider-principal:#262a42;
$divider-secodnary:#D1D1D1;
$color-bg-card: #F6F8F2;

$black: #181818;

$mapa:(
    /*clave para color*/
    linkedin:#114CE1,
    instagram: #0934a2,
    envelope: #114CE1
);

