/*VARIABLES - PALETA DE COLORES */

$textgral: #383f3a;  /* color del texto predeterminado*/
$text-span: #7f8e57; /*color secundario del texto*/
$title: #383f3a; /*color titulos*/
$subtitle: #5b6b2e; /*color subtitulos*/
$color-date: #0d1102; /*color fecha about me*/
$color-shadow: #545f3ac9; /*color para sombras*/
$bgc-link: #7f8e57; /*fondo de links*/
$text-hover: #fcfcfc; /*color de texto al aplicar hover*/
$color-animation-1: #7f8e57; /*color de animacion 1 link*/
$color-animation-2: #383f3a; /*color de animacion 2 link*/
$color-hover-link: #fcfcfc;
$color-bg-blur: rgba(255, 255, 255, 0.10);
$color-bg: #fcfcfc;

$mapa:(
    /*clave para color*/
    linkedin:#818C61,
    instagram: #4F611E,
    envelope: #9BAD6A
);

