body{
    font-family: Roboto, Arial, Helvetica, sans-serif;
}
/*MOBILE*/
$size_title_mobile: 1.7rem;
$size_subtitle_mobile:1.2rem;
$size_project_number_mobile: 8rem;
$size_project_title_mobile:4rem;
$size_project_subtitle_mobile:1.2rem;
$size_mobile_text: 1rem;
$size_mobile_text_small: 0.75rem;

/*TABLET*/
$size_title_tablet: 2rem;
$size_subtitle_tablet:1.4rem;
$size_project_number_tablet: 12rem;
$size_project_title_mobile:5rem;
$size_project_subtitle_mobile:2rem;
$size_tablet_text: 1rem;

/*DESKTOP*/
$size_title_desktop: 2.5rem;
$size_subtitle_desktop:1.4rem;
$size_text_desktop: 1.2rem;
$size_text_span_desktop:1rem;
$size_text_span__small_desktop:0.75rem;
$size_project_number_desktop: 12rem;
$size_title_project_desktop:2rem;
$size_subtitle_project_desktop:5rem;
