body{
    font-family: Quicksand, Arial, Helvetica, sans-serif;
}

$size_title_mobile: 1.8rem;
$size_subtitle_mobile:1.2rem;

$size_title_tablet: 2rem;
$size_subtitle_tablet:1.2rem;

$size_title_desktop: 2.5rem;
$size_subtitle_desktop:1.5rem;
$size_text_desktop:1.2rem;