@import "../base/color";
.boton{
    letter-spacing: 2px;
    background-color: $bgc-link;
    text-transform: uppercase;
    padding: 1% 2%;
    border-radius: 10px;
    box-shadow: 2px 5px 5px $color-shadow;
    color: $color-hover-link;
    &:hover{
        animation: pulsate 1s ease-in-out;
    }    
}

.buttom__back{ 
    color: $textgral;
    &:hover{
        color: $color-shadow;
    }
}

.buttom__up{
        @include flex(row, nowrap, flex-end, center);
        svg{ 
            @extend .buttom__back;
        }
}

@keyframes pulsate{
    0%{
        box-shadow:
        0 0 10px $color-animation-1,
        0 0 25px $color-animation-2;
    }
}

@each $iconos, $color in $mapa{
    .fa-#{$iconos}{
        color:$color;
        &:hover{
            color: $color-date;
        }
    }
}