@import "../base/color";

.link{
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    overflow: hidden;
    border-radius: 40px;
    background: linear-gradient(145deg, #e6e6e6, #ffffff);
    box-shadow:  8px 8px 22px #d1d1d1,
                -8px -8px 22px #ffffff;
    &:hover{
        animation: pulsate 1s ease-in-out;
        color: $color-hover-link;
    }

}

/* efecto sobre los links */
.project-link{
    display: inline-block;
    text-decoration: none;
    color: $color-hover-link;
    padding: 2% 5%;   
    background-color: $bgc-link;
    border-radius: 5px 20px;
    box-shadow: 2px 5px 5px $color-shadow;
    &:hover{
        animation: pulsate 1s ease-in-out;
        color: $color-hover-link;
    }
    
}

@keyframes pulsate{
    0%{
        box-shadow:
        0 0 25px $color-animation-1,
        0 0 50px $color-animation-2;
    }
}