<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap" rel="stylesheet"> 

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/32b8b1fb6e.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="../style/style.css">
    <title> IG | CIVIL ENGINEER</title>
</head>
<body id="grid">
    <!-- ENCABEZADO -->
    <header class="border">
        <!-- MENU DE NAVEGACION -->        
        <nav >
            <!-- MENU HAMBURGUESA -->
            <div>
                <img class="logo" 
                srcset="../asset/logo-mobile.png 479w, ../asset/logo-desktop.png 1024w"
                sizes="(max-width: 479px) 200px,
                (max-width:1024px) 300px"
                src="../asset/logo-mobile.png" alt="logo">
            </div>

            <input type="checkbox" id="check">
            <label for="check" class="menu__btn">
                <i class="fas fa-bars"></i>
            </label>

            <ul class="nav__links">
                <li><a href="01project.html" class="active close" id="close__td">&#60;</a></li>
                <li><a href="../index.html">Home</a></li>
                <li><a href="projects.html">Project</a></li>
                <li><a href="about-me.html">About me</a></li>
                <li> <a href="contact.html">Contact</a></li>
            </ul>
        </nav>
    </header>

    <!-- CONTENIDO PRINCIPAL DEL BODY -->
    <main>
        <!-- REDIRECCIONAR A LA PAGINA DE PROYECTOS -->
        <div>
            <a href="../view/projects.html" id="01project" class="buttom__back"> <<<</a>
        </div>
        
        <section> 
            <!-- PORTADA DEL PROYECTO 01 -->        
            <div id="project01">
                <div class="number number01 border">
                    <p>01</p>
                </div>
                <div class="berrino01 border">
                    <img src="../asset/02-project-maricel.jpg" alt="house project berrino"> 
                </div>
                <div class="title1">
                    <p class="title01 border">Project</p>
                    <p class="title001 border">Berrino</p>
                </div>
                
                <p class="text__info01 border">Vacation home projected and executed in Villa General Belgrano, Córdoba, Argentina. It has 80 square meters with a bedroom, two bathrooms and a loft. I modeled the architecture and MEP and supervised the construction.</p>
            </div>

            <!-- INFORMACION SOBRE EL PROYECTO -->
        <main id="grid__project01">
            <article class="outside">
                <h2 class="title_p02">lorem ipsum</h2>
                <img src="../asset/02-outside.jpg" alt="image outside house" class="plan01">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus est neque saepe. Id sint ipsa animi, incidunt saepe amet. Vero harum velit ipsam natus doloribus pariatur fuga accusamus expedita dolore.</p>
            </article>
            <article class="inside">
                <h2 class="title_p02">lorem ipsum</h2>
                <img src="../asset/02-inter.jpg" alt="inside house" class="plan01">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus est neque saepe. Id sint ipsa animi, incidunt saepe amet. Vero harum velit ipsam natus doloribus pariatur fuga accusamus expedita dolore.</p>
            </article>
            <article class="toilets">
                <h2 class="title_p02">lorem ipsum</h2>
                <img src="../asset/02-wc.jpg" alt="toilets" class="plan01">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus est neque saepe. Id sint ipsa animi, incidunt saepe amet. Vero harum velit ipsam natus doloribus pariatur fuga accusamus expedita dolore.</p>
            </article>
        
        </main>
            
        </section>
    

    <!-- REDIRECCIONA AL PRINCIPIO DEL PROYECTO 01 -->
    <div>
        <a href="#01project" class="buttom__up">^</a>
    </div>

    </main>

    <!-- PIE DE PAGINA -->
    <footer class="footer">
        <hr>
        <p><a href="https://www.linkedin.com/in/galeano19maria/" target="_blank">Create by Jo Galeano</a></p>
    </footer>
    
</body>
</html>