<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400&display=swap" rel="stylesheet">   

    <script src="https://kit.fontawesome.com/32b8b1fb6e.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="../style/style.css">
    <title> IG | CIVIL ENGINEER</title>
</head>
<body id="grid">
    <!-- ENCABEZADO -->
    <header class="border">
        <!-- MENU DE NAVEGACION -->        
        <nav >
            <!-- MENU HAMBURGUESA -->
            <div id="aboutme">
                <img class="logo" 
                srcset="../asset/logo-mobile.png 479w, ../asset/logo-desktop.png 1024w"
                sizes="(max-width: 479px) 200px,
                (max-width:1024px) 300px"
                src="../asset/logo-mobile.png" alt="logo">
            </div>

            <input type="checkbox" id="check">
            <label for="check" class="menu__btn">
                <i class="fas fa-bars"></i>
            </label>

            <ul class="nav__links">
                <li><a href="about-me.html" class="active close" id="close__td">&#60;</a></li>
                <li><a href="../index.html">Home</a></li>
                <li><a href="projects.html">Project</a></li>
                <li><a href="about-me.html">About me</a></li>
                <li> <a href="contact.html">Contact</a></li>
            </ul>
        </nav>
    </header>
    
    <!-- CONTENIDO PRINCIPAL DEL BODY -->
    <main id="grid__about">
        <!-- FOTO DE PERFIL -->
        <div class="photo">
            <img src="../asset/profile-img.jpg" alt="profile photo">
        </div>

        <!-- COMIENZA INFORMACION -->
        <section class="profile">                
            <h2 class="title">Profile</h2>
            <p class="text__about"> As a graduate I keep the desire to learn and continue my professional development.
            I have interest in topics related to structural design and BIM modeling.
            I am a person with ease for technology, I am constantly learning to use new software or new functionalities in which I already manage. Thanks to this, I am sure that I can contribute to the digital transformation of the construction industry. </p>
        </section>
            
        <section class="languague">
                <h2 class="title">Languague</h2>
                <p class="text__about">English - B1</p>
                <p class="text__about">German - A1</p>
        </section>

        <section class="location">
                <h2 class="title">Location</h2>
                <p class="text__about">Argentina - Córdoba</p>
        </section>

        <section class="experience">          
            <h2 class="title">Experience</h2>        
            <article>
                <h3 class="title__sub">Voyansi – BIM Modeler Ssr. </h3>
                <p class="date">21/03/2022 – Present</p>
                <p class="text__about">BIM modeling of mechanical, electrical and plumbing systems for American projects.</p>
            </article>

            <article>
                <h3 class="title__sub">Hüga Technology/ Grandio – Civil Engineer.</h3>
                <p class="date">23/11/2020 – 18/03/2022 </p>
                <p class="text__about">Development of the 2021 Global Innovation Award (NAHB) winning projecjt; Industrial optimization; 4D/5D BIM modeling; Design of facilities according to American requirements, Development of Augmented Reality models.</p>
            </article>

            <article>
                <h3 class="title__sub">Faculty of Architecture of the Catholic University of Córdoba – Associate Professor – Large Span Structures II.</h3>
                <p class="date">2021 – Present</p>
                <p class="text__about">The students design a structure of their choice, which responds to a logical use for its implementation and which has a clear span greater than 30 meters. The structure is designed and calculated with gravitational loads, earthquakes and winds.</p>
            </article>

            <article>

                <h3 class="title__sub">Faculty of Architecture of the Catholic University of Córdoba – Associate Professor – Large Span Structures I.</h3>
                <p class="date">2021 – Present</p>
                <p class="text__about">Existing long-span structures are analyzed to understand their structural functioning against gravitational and horizontal actions.</p>
            </article>
            
            <article>
                <h3 class="title__sub">Grandio – Intern</h3>
                <p class="date">12/2019 – 03/2020</p>
                <p class="text__about">Office tasks; Technical solutions for precast; Graphic material and blueprints; Construction on-site control.</p>
            </article>
        </section>

        <section class="skill">
            <h2 class="title">Skill</h2>
            <!-- imagenes de programas utilizados -->

            <div class="skill__icon">
                <img src="../asset/skill-revit.png" alt="revit">
                <p> <span class="program__title">Autodesk Revit </span> Advanced</p>
                <div class="reset"></div>
            </div>

            <div class="skill__icon">
                <img src="../asset/skill-autocad.png" alt="autocad">
                <p> <span class="program__title">Autodesk AutoCAD</span> Advanced </p>
                <div class="reset"></div>
            </div>

            <div class="skill__icon">
                <img src="../asset/skill-rfem.png" alt="rfem" class="rfem" >
                <p> <span class="program__title">RFEM</span> Advanced</p>
                <div class="reset"></div>
            </div>

            <div class="skill__icon">
                <img src="../asset/skill-nawisworks.png" alt="navisworks">
                <p> <span class="program__title">Autodesk Navisworks</span> Basic</p>
                <div class="reset"></div>
            </div>

            <div class="skill__icon">
                <img src="../asset/skill-cypecad.png" alt="cypecad">
                <p><span class="program__title"> CYPECAD</span>  Intermediate</p>
                <div class="reset"></div>
            </div>

            <div class="skill__icon">
                <img src="../asset/skill-premier.png" alt="adobe premier">
                <p> <span class="program__title">PREMIER </span> Intermediate</p>
                <div class="reset"></div>
            </div>

            <div class="skill__icon">
                <img src="../asset/skill-office.png" alt="office">
                <p><span class="program__title">Paquete Office</span>Advanced</p>
                <div class="reset"></div>
            </div>

        </section>

        <section class="education">
            <h2 class="title">Education.</h2>
            <article>
                <h3  class="title__sub">Diploma in Structural Engineering.</h3>
                <p class="date">2021 – Present</p>
                <p class="text__about">I am currently studying a diploma in Structural Engineering dictated by UTN - FRC and DLUBAL Latin America. The program focuses on modern calculation methods.</p>
            </article>

            <article>
                <h3  class="title__sub">Civil Engineer – Catholic University of Córdoba</h3>
                <p class="date">2015 – 2020 </p>
                <h4 class="title__sub__01">Final Project for Bachelor Degree:</h4>
                <p class="text__about">"Comparative study, at the pre-feasibility level, of a high-rise multi-family building, designed with a metal structure and Modern Methods of Construction (MMC)"</p>
                <ul class="items text__about">
                    <li>Design, analysis and structural calculation by finite element method (FEM) applying non-linear models. </li> 
                    <li> Social, technical and economic analysis.</li>
                    <li>Environmental analysis.</li>
                </ul>
            </article>
        </section>

    </main>

    <!-- REDIRECCIONA AL PRINCIPIO -->
    <div>
        <a href="#aboutme" class="buttom__up">^</a>
    </div>

    <!-- PIE DE PAGINA -->
    <footer class="footer">
        <hr>
        <p><a href="https://www.linkedin.com/in/galeano19maria/" target="_blank">Create by Jo Galeano</a></p>
    </footer>
</body>
</html>