<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#FFFFFF ">
    <!-- SEO -->
    <meta name="description" content="Experienced BIM Specialist in MEP Modeling (LOD 400), Process Piping Design, and Custom Content Creation. Skilled in Revit, Navisworks, Fabrication CADmep, AutoCAD Plant 3D, and RFEM. Delivering advanced BIM solutions and digital construction workflows for projects in the USA and EMEA regions.">
    <meta name="keywords" content="BIM Manager, BIM Specialist, MEP Modeling, Process Piping, HVAC Design, Plumbing Design, BIM Services USA, BIM Consulting EMEA, Revit Expert, Navisworks, Fabrication CADmep, AutoCAD Plant 3D, RFEM, MEP Fabrication, Custom Revit Families, Bluebeam, Digital Construction Solutions">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
    
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-MW8J3H5K');</script>
    <!-- End Google Tag Manager -->

    <!-- FAVICON -->
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

    <!-- FONTAWESOME -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- ANIMATION STYLE -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
    <!-- BOOTSTRAP CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- HOJA DE ESTILOS COMPILADO CON SASS -->
    <link rel="stylesheet" href="../style/destiny.css">

    <title> IG |ABOUT ME| CIVIL ENGINEER</title>
</head>

<body>
    <div class="custom-cursor"></div>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MW8J3H5K"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) --> 

    <!-- ENCABEZADO -->
    <header class="container-fluid ">
        <!-- NAVBAR INICIO -->
        <nav class="navbar navbar-expand-lg navbar-light mx-auto col-9">        
                <!-- LOGO -->
                <a class="navbar-brand" href="../index.html"><img src="../asset/logo_mobile_true.png" alt="logo" class="logo"></a>
    
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
    
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link h4" aria-current="page" href="../index.html">Home</a>
                        </li>
    
                        <li class="nav-item">
                            <a class="nav-link h4" href="posts.html">Thoughts</a>
                        </li>
    
                        <li class="nav-item">
                            <a class="nav-link active h4" href="about-me.html">About me</a>
                        </li>
    
                        <li class="nav-item">
                            <a class="nav-link h4" href="contact.html">Contact</a>
                        </li>
                    </ul>
                </div>
        </nav>
    </header>
    <!-- NAVBAR FIN -->
<!-- CONTENIDO PRINCIPAL -->
    <div id="aboutme">
        <div class="photo"></div>
        <div class="lineText">
            <span class="citizen">I am an Argentine-Italian professional with dual citizenship. </span>
            <div class="titleAbout">
                <p>I am currently working as</p>
                <h2>
                    <span>Process Piping Program Manager</span>
                    | <a href="https://www.voyansi.com/es/inicio/" target="_blank"><img src="../asset/HEXAGON-VOYANSI-LOGO.svg" alt="Logo Voyansi Hezagon"></a></h2>
            </div>
        </div>
    </div>

    <div class="downloadCV">
        <a href="../asset/CV_Gomez_Ignacio_2025.pdf" class="download-button" download><i class="fa fa-download"></i> Download Resumen</a>
    </div>
    
    <main>
<!-- EXPERIENCE -->

        <img src="../asset/experience_timeline.png" alt="timeline experince" class="timeline-experince">
        
        <h3 class="titleExperience">Experience</h3> 

        <section class="experience aboutMeCard">          
            <article>
                <h3>Process Piping Program Manager | <span>at Voyansi part of Hexagon, USA</span> </h3>
                <p class="date">December 2024 to the present.</p>
                <div class="textAbout">
                        <p class="item">Coordinating a 36-person team responsible for executing industrial facility projects covering over 10 million sqft.</p>

                        <p class="item">Overseeing multiple simultaneous projects, ensuring deadlines and budgets are met.</p>

                        <p class="item">Assessing risks and strategically planning to mitigate potential impacts.</p>

                        <p class="item">Monitoring customer expectations through weekly meetings.</p>

                        <p class="item">Training and developing skills for team members, aligned with market opportunities.</p>

                        <p class="item">Managing billing and overall performance of the Process Piping program.</p>
                </div>
            </article>
        </section>
        
        <section class="experience aboutMeCard">          
            <article>
                <h3>MEP Construction Project Manager | <span> at Voyansi part of Hexagon, USA</span> </h3>
                
                <p class="date">October 2023 - December 2024</p>
                
                <div class="textAbout">
                        <p class="item">Managing Process Piping, mechanical, and plumbing projects across industries such as data centers, pulp factories, residential buildings, water treatment plants, and steam plants.</p>

                        <p class="item">Coordinating an 8-person team across multiple simultaneous projects.</p>

                        <p class="item">Ensuring quality control of deliverables to comply with project standards.</p>

                        <p class="item">Tracking progress and providing technical support for the production team.</p>

                        <p class="item">Mentoring future leaders in technical and planning aspects.</p>

                        <p class="item">Ensuring compliance with local, state, and federal regulations in all MEP work.</p>
                </div>
            </article>
        </section>

        <section class="experience aboutMeCard">
            <article>
                <h3>BIM Specialist | <span> at Voyansi part of Hexagon, USA</span> </h3>
                
                <p class="date">Sr. BIM Specialist : November 2022 - October 2023.</p>
                <p class="date">Ssr. BIM Specialist : March 2022 - October 2022</p>
                
                <div class="textAbout">
                    <p class="item">Modeling MEP (LOD 400) for Process Piping, plumbing, HVAC, and fabrication parts.</p>

                    <p class="item">Developing over 20,000 spools for fabrication.</p>

                    <p class="item">Managing the fabrication parts database.</p>

                    <p class="item">Creating LOD 200/300/400 MEP content (parametric .rfa files).</p>

                    <p class="item">Detecting clashes and coordinating to resolve system interferences.</p>

                </div>
            </article> 
        </section>

        <section class="experience aboutMeCard">
            <article>
                <h3>Civil Engineer <span> | Hüga Technology [Grandio]</span></h3>
                
                <p class="date">November 23, 2020 to March 18, 2022.</p>
                
                <div class="textAbout">
                    <p>Participate in an engineering role in the development of the <a href="https://www.nahb.org/nahb-community/awards/global-innovation-awards/global-innovation-award-winners" target="_blank"> 2021 Global Innovation Award (NAHB) winning project</a> focused on industrial optimization and 4D/5D BIM modeling.</p>

                    <p class="item">Modeling (LOD 300) for architecture, structures, and MEP.</p>   
                    
                    <p class="item">Calculating structural reinforcements for concrete, including lifting analysis, joint assessments, snow and seismic loads, as well as numerical wind tunnel simulations.</p>  

                    <p class="item">Optimizing time and workspace organization in prefabrication plants, following World Class Manufacturing guidelines.</p> 

                </div>
            </article>
        </section>


        <section class="experience aboutMeCard">
            <article>
                <h3>Associate Professor - Large Span Structures I and II  <span> | The Catholic University of Cordoba</span></h3>
                
                <p class="date">Academic year 2021</p>
                
                <div class="textAbout">

                    <p class="item">Teaching analysis and design of Large-Span Structures for fourth-year Architecture students, focusing on bridges, domes, arches, tensioned frames, and high-rise beams.</p>   
                </div>
            </article>
        </section>
    
<!-- SKILL -->
    <section class="skill aboutMeCard">
            <h2>Skill</h2>
            <!-- IMG PROGRAMAS -->
            <div class="itemsSkill">
            <div>
                <span>Revit MEP Advanced</span>
                <span>Naviswork Advanced</span>
                <span>Fabrications CADmep Advanced</span>
            </div>

            <div>
                <span>Autodesk Constructions Cloud</span>
                <span>AutoCAD Plant 3D</span>
                <span>Blue Beam</span>
            </div>

            <div>
                <span>Suite Microsoft Office</span>
                <span>Jira, Trello, Notion</span>
                <span>RFEM</span>
            </div>
        </div>

    </section>

<!-- EDUCATION -->
    <h3 class="titleExperience">Education</h3> 
    
        <section class="aboutMeCard">
            <h3>Postgraduate in Project Management | National Technological University</h3>
            <p class="dateEdu">July to November 2023</p>
            <div class="textAbout">
                <p>Agile and Lean Project Management practices.Training in practical methodologies and tools for negotiation, leadership and management of complex projects.</p> 

                <p>Understanding of PMO functions, and the ability to identify and handle scope management issues.</p>

                <p>Coverage of Project Management, Planning and Budget Management, Team Management and Communications, Change, Quality and Procurement, and Risk Management and Integration.</p>
            </div>
        </section>

        <section class="aboutMeCard">
            <h3>Civil Engineer | Catholic University of Cordoba.</h3>
            <div>
                <p class="dateEdu">2015 - 2020</p>
                <p><a href="https://registrograduados.siu.edu.ar/consulta.php?id_tipo_documento%5E%5EVlR4S0pDbi9qZ3BQUkVrOFAyMGNpUT09%7C%7Cnro_documento%5E%5EalJFays5cGoxOS9Sbm1lTnpkcFFNdz09%7C%7Cnombres%5E%5EQU5Dc0RVYnFBK3BaL1FqZWFzS3dOdz09%7C%7Capellidos%5E%5EcWxOOGJ3cDZkbUJDUTFhNDhlQnlUdz09" target="_blank">Here Argentina Graduate Register</a></p>
            </div>
            <p class="textEdu"> <span class="subtitle">Final Project for Bachelor Degree:</span> "Comparative study, at the pre-feasibility level, of a high-rise multi-family building, designed with a metal structure and Modern Methods of Construction (MMC)"</p>
            <ul class="textEdu">
                <li>Design, analysis and structural calculation by finite element method (FEM) applying non-linear models. </li> 
                <li> Social, technical and economic analysis.</li>
                <li>Environmental analysis.</li>
            </ul>
        </section>

<!-- PROFILE -->  
    <div class="profile ">          
    <section class="languague aboutMeCard">
            <h2>Languague</h2>
            <p class="textAbout">English -Advanced</p>
            <p class="textAbout">Spanish - Native</p>
    </section>

    <section class="location aboutMeCard">
            <h2>Location</h2>
            <p class="textAbout">Turin - Italy</p>
    </section>
    </div>

    </main>

    <!-- REDIRECCIONA AL PRINCIPIO -->
    <div class="buttomUp container-fluid mx-auto col-10 ">
        <a href="#aboutme">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-arrow-up-circle" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z"/></svg>
        </a>
    </div>

    <!-- FOOTER INICIO -->
    <footer>
        <div class="container-footer">
            <div class="left-content">
                <a href="https://www.linkedin.com/in/galeano19maria/" target="_blank" class="footerText"> <span > &copy; 2025 Galeano </span></a>
            </div>
            <div class="right-content">
                <a href="https://www.linkedin.com/in/ignacio-gomez93/" target="_blank"><i class="fab fa-linkedin fa-2xl"></i><span class="hidden-text">Link to Linkedin</span></a>
                <a href="https://instagram.com/j.ignacio.gomez?igsshid=YmMyMTA2M2Y=" target="_blank"><i class="fab fa-instagram fa-2xl"></i><span class="hidden-text">Link to Instagram</span></a>
                <a href="view/contact.html"><i class="fas fa-envelope fa-2xl" ></i><span class="hidden-text">Link to Contact page</span></a>
            </div>
        </div>
    </footer>
    <!-- FOOTER FIN -->

    <!-- BOOTSTRAP JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <script>
        // Inicializar Twemoji para reemplazar los emojis con imágenes SVG
        twemoji.parse(document.body, {
            folder: 'svg',
            ext: '.svg'
        });
    </script>

    <script src="../js/index.js"></script>
</body>
</html>