<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- favicon -->
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <!-- google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400&display=swap" rel="stylesheet"> 
    <!-- fontawesone -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Animacion.style -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
    <!-- BOOTSTRAP CSS -->
    <link rel="stylesheet" href="../css/bootstrap.css">
    <!-- hoja de estilos propios -->
    <link rel="stylesheet" href="../style/style.css">
    <!-- hoja de estilo compilado con SASS -->
    <link rel="stylesheet" href="../style/destiny.css">

    <title> IG | CIVIL ENGINEER</title>
</head>

<body>
    <!-- ENCABEZADO -->
    <header class="container-fluid mx-auto col-10">

        <nav class="navbar navbar-expand-lg navbar-light">        
                <!-- logo de la empresa -->
                <a class="navbar-brand" href="../index.html"><img src="../asset/logo-mobile.png" alt="logo" class="logo" width="150px"></a>
    
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
    
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link h4" aria-current="page" href="../index.html">Home</a>
                        </li>
    
                        <li class="nav-item">
                            <a class="nav-link h4" href="projects.html">Projects</a>
                        </li>
    
                        <li class="nav-item">
                            <a class="nav-link active h4" href="about-me.html">About me</a>
                        </li>
    
                        <li class="nav-item">
                            <a class="nav-link h4" href="contact.html">Contact</a>
                        </li>
                    </ul>
                </div>
        </nav>
        </header>
    
    <!-- CONTENIDO PRINCIPAL DEL BODY -->
    <main id="grid__about">
        <!-- FOTO DE PERFIL -->
        <div class="photo" id="aboutme">
            <img src="../asset/profile-img.jpg" alt="profile photo">
        </div>

        <!-- COMIENZA INFORMACION -->
        <section class="profile">                
            <h2 class="title__about">Profile</h2>
            <p class="text__about"> As a graduate I keep the desire to learn and continue my professional development.
            I have interest in topics related to structural design and BIM modeling.
            I am a person with ease for technology, I am constantly learning to use new software or new functionalities in which I already manage. Thanks to this, I am sure that I can contribute to the digital transformation of the construction industry. </p>
        </section>
            
        <section class="languague">
                <h2 class="title__about">Languague</h2>
                <p class="text__about">English - B1</p>
                <p class="text__about">German - A1</p>
        </section>

        <section class="location">
                <h2 class="title__about">Location</h2>
                <p class="text__about">Argentina - Cordoba</p>
        </section>

        <section class="experience">          
            <h2 class="title__about">Experience</h2>        
            <article>
                <h3 class="title__sub">Voyansi - BIM Modeler Ssr. </h3>
                <p class="date">21/03/2022 - Present</p>
                <p class="text__about">BIM modeling of mechanical, electrical and plumbing systems for American projects.</p>
            </article>

            <article>
                <h3 class="title__sub">Hüga Technology/ Grandio - Civil Engineer.</h3>
                <p class="date">23/11/2020 - 18/03/2022 </p>
                <p class="text__about">Development of the 2021 Global Innovation Award (NAHB) winning projecjt; Industrial optimization; 4D/5D BIM modeling; Design of facilities according to American requirements, Development of Augmented Reality models.</p>
            </article>

            <article>
                <h3 class="title__sub">Faculty of Architecture of the Catholic University of Cordoba - Associate Professor - Large Span Structures II.</h3>
                <p class="date">2021</p>
                <p class="text__about">The students design a structure of their choice, which responds to a logical use for its implementation and which has a clear span greater than 30 meters. The structure is designed and calculated with gravitational loads, earthquakes and winds.</p>
            </article>

            <article>

                <h3 class="title__sub">Faculty of Architecture of the Catholic University of Cordoba - Associate Professor - Large Span Structures I.</h3>
                <p class="date">2021</p>
                <p class="text__about">Existing long-span structures are analyzed to understand their structural functioning against gravitational and horizontal actions.</p>
            </article>
            
            <article>
                <h3 class="title__sub">Grandio - Intern</h3>
                <p class="date">12/2019 - 03/2020</p>
                <p class="text__about">Office tasks; Technical solutions for precast; Graphic material and blueprints; Construction on-site control.</p>
            </article>
        </section>

        <section class="skill">
            <h2 class="title__about">Skill</h2>
            <!-- imagenes de programas utilizados -->
            <div class="animate__animated animate__flipInY animate__delay-4s animate__slow skill__icon">
                <img src="../asset/skill-revit.png" alt="revit">
                <p> <span class="program__title">Autodesk Revit </span> Advanced</p>
                <div class="reset"></div>
            </div>

            <div class="animate__animated animate__flipInY animate__delay-3s animate__slow skill__icon">
                <img src="../asset/skill-autocad.png" alt="autocad">
                <p> <span class="program__title">Autodesk AutoCAD</span> Advanced </p>
                <div class="reset"></div>
            </div>

            <div class="animate__animated animate__flipInY animate__delay-2s animate__slow skill__icon">
                <img src="../asset/skill-rfem.png" alt="rfem" class="rfem" >
                <p> <span class="program__title">RFEM</span> Advanced</p>
                <div class="reset"></div>
            </div>

            <div class="animate__animated animate__flipInY animate__delay-1s animate__slow skill__icon">
                <img src="../asset/skill-nawisworks.png" alt="navisworks">
                <p> <span class="program__title">Autodesk Navisworks</span> Basic</p>
                <div class="reset"></div>
            </div>

            <div class="animate__animated animate__flipInY animate__delay-2s animate__slow skill__icon">
                <img src="../asset/skill-cypecad.png" alt="cypecad">
                <p><span class="program__title"> CYPECAD</span>  Intermediate</p>
                <div class="reset"></div>
            </div>

            <div class="animate__animated animate__flipInY animate__delay-3s animate__slow skill__icon">
                <img src="../asset/skill-premier.png" alt="adobe premier">
                <p> <span class="program__title">PREMIER </span> Intermediate</p>
                <div class="reset"></div>
            </div>

            <div class="animate__animated animate__flipInY animate__delay-4s animate__slow skill__icon">
                <img src="../asset/skill-office.png" alt="office">
                <p><span class="program__title">Paquete Office</span>Advanced</p>
                <div class="reset"></div>
            </div>

        </section>

        <section class="education">
            <h2 class="title__about">Education.</h2>
            <article>
                <h3  class="title__sub__edu">Diploma in Structural Engineering.</h3>
                <p class="date_edu">2021 - Present</p>
                <p class="text__about_edu">I am currently studying a diploma in Structural Engineering dictated by UTN - FRC and DLUBAL Latin America. The program focuses on modern calculation methods.</p>
            </article>

            <article>
                <h3  class="title__sub__edu">Civil Engineer - Catholic University of Cordoba</h3>
                <p class="date_edu">2015 - 2020 </p>
                <h4 class="title__sub__edu">Final Project for Bachelor Degree:</h4>
                <p class="text__about_edu">"Comparative study, at the pre-feasibility level, of a high-rise multi-family building, designed with a metal structure and Modern Methods of Construction (MMC)"</p>
                <ul class="items text__about_edu">
                    <li>Design, analysis and structural calculation by finite element method (FEM) applying non-linear models. </li> 
                    <li> Social, technical and economic analysis.</li>
                    <li>Environmental analysis.</li>
                </ul>
            </article>
        </section>

    </main>

    <!-- REDIRECCIONA AL PRINCIPIO -->
    <div class="container-fluid mx-auto col-10 ">
        <a href="#aboutme" class="buttom__back">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-arrow-up-circle" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z"/></svg>
        </a>
    </div>

    <!-- inicio footer -->
    <hr>
    <footer>
        <a href="https://www.linkedin.com/in/galeano19maria/" target="_blank"> <span class="footer_text"></span> &copy; 2022 Jo Galeano </span></a>
        <div>
            <a target="_blank" href="https://www.linkedin.com/in/ignacio-gomez93/"><img src="../asset/linkedin-img.png" alt="linkedin" class="footer_icon"></a>
            <a href="https://instagram.com/j.ignacio.gomez?igsshid=YmMyMTA2M2Y=" target="_blank"><img src="../asset/instagram-img.png" alt="instagram"  class="footer_icon"></a>
            <a href="view/contact.html"><img src="../asset/email-img.png" alt="contact form" class="footer_icon"></a>
    </footer>
    <!-- fin footer -->

    <!-- BOOTSTRAP JS -->
    <script src="../js/bootstrap.js"></script>
</body>
</html>