<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <!-- favicon -->
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap" rel="stylesheet"> 
    <!-- fontawesone -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- BOOTSTRAP CSS -->
    <link rel="stylesheet" href="../css/bootstrap.css">
    <!-- hoja de estilo propio -->
    <link rel="stylesheet" href="../style/style.css">
    <!-- Hoja de estilo compilado con sass -->
    <link rel="stylesheet" href="../style/destiny.css">

    <title> IG | CIVIL ENGINEER</title>
</head>
<body>
    <!-- ENCABEZADO -->
    <header class="container-fluid mx-auto col-10">

        <nav class="navbar navbar-expand-lg navbar-light">        
                <!-- logo de la empresa -->
                <a class="navbar-brand" href="../index.html"><img src="../asset/logo-mobile.png" alt="logo" class="logo" width="150px"></a>
    
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
    
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link h4" aria-current="page" href="../index.html">Home</a>
                        </li>
    
                        <li class="nav-item">
                            <a class="nav-link h4" href="projects.html">Projects</a>
                        </li>
    
                        <li class="nav-item">
                            <a class="nav-link h4" href="about-me.html">About me</a>
                        </li>
    
                        <li class="nav-item">
                            <a class="nav-link active h4" href="contact.html">Contact</a>
                        </li>
                    </ul>
                </div>
        </nav>
        </header>

    <!-- CONTENIDO PRINCIPAL DEL BODY -->
    <main id="grid__contact">
        <!-- Informacion de contacto -->
        <div class="message">
            <p>Reach me out by the contact form or by social media.</p>
            <p>(I'm not currently open to work as freelancer but I'm up to answer questions or comments about the topics discussed on this page.)</p>
            <p>Regards.</p>
            <p>Ignacio Gómez.</p>
        </div>

        <!-- Formulario de contacto -->
        <form action="#">
            <input type="text" name="name" placeholder="  Name" tabindex="1" class="form_space">
            <input type="text" name="email" placeholder="  Email" tabindex="2" required class="form_space">
            <textarea name="message" id="" placeholder="  Message" cols="30" rows="10" tabindex="3" required class="form_space"></textarea>
            <input class="boton" type="submit" value="Submit">
        </form>
    </main>


    <!-- inicio footer -->
    <div class="container col-10">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
            <div class="col-md-4 d-flex align-items-center">
                <a href="/" class="mb-3 me-2 mb-md-0  text-decoration-none lh-1">
                <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"/></svg></a>
    
                <span><a href="https://www.linkedin.com/in/galeano19maria/" target="_blank"></a> &copy; 2022 Jo Galeano </span>
            </div>
        
            <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
                <li class="ms-3">
                    <a class="text-muted" target="_blank" href="https://www.linkedin.com/in/ignacio-gomez93/">
                        <i class="fa-brands fa-linkedin fa-2x pe-3" ></i>
                    </a>
                </li>
    
                <li class="ms-3">
                    <a class="text-muted" href="https://instagram.com/j.ignacio.gomez?igsshid=YmMyMTA2M2Y=" target="_blank">
                        <i class="fa-brands fa-instagram fa-2x pe-3"></i>
                    </a>
                </li>
    
                <li class="ms-3">
                    <a class="text-muted" href="view/contact.html">
                        <i class="fa-solid fa-envelope fa-2x"></i>
                    </a>
                </li>
            </ul>
        </footer>
        </div>
            <!-- fin footer -->

    <!-- BOOTSTRAP JS -->
    <script src="../js/bootstrap.js"></script>
</body>
</html>