<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#FFFFFF ">
    <!-- SEO -->
    <meta name="description" content="website civil engineer.">
    <meta name="keywords" content="BIM, REVIT, ARCHITECTURE MEP ,CONTACT, SUPERVISED THE CONSTRUCTION">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <!-- FAVICON -->
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap" rel="stylesheet"> 
    <!-- FONTAWESOME -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- BOOTSTRAP CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- HOJA DE ESTILOS COMPILADO CON SASS -->
    <link rel="stylesheet" href="../style/destiny.css">

    <title>IG |CONTACT| CIVIL ENGINEER</title>
</head>
<body>
    <!-- ENCABEZADO -->
    <header class="container-fluid mx-auto col-10">
        <!-- NAVBAR INICIO -->
        <nav class="navbar navbar-expand-lg navbar-light">        
                <!-- LOGO -->
                <a class="navbar-brand" href="../index.html"><img src="../asset/logo-mobile.png" alt="logo" class="logo" width="150px"></a>
    
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
    
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link h4" aria-current="page" href="../index.html">Home</a>
                        </li>
    
                        <li class="nav-item">
                            <a class="nav-link h4" href="projects.html">Projects</a>
                        </li>
    
                        <li class="nav-item">
                            <a class="nav-link h4" href="about-me.html">About me</a>
                        </li>
    
                        <li class="nav-item">
                            <a class="nav-link active h4" href="contact.html">Contact</a>
                        </li>
                    </ul>
                </div>
        </nav>
        </header>

<!-- CONTENIDO PRINCIPAL -->
    <main id="grid__contact">
        <!-- MENSAJE DE CONTACTO -->
        <div class="message">
            <h1>Reach me out by the contact form or by social media.</h1>
            <p>(I'm not currently open to work as freelancer but I'm up to answer questions or comments about the topics discussed on this page.)</p>
            <p>Regards.</p>
            <p>Ignacio Gómez.</p>
        </div>

        <!-- FORMULARIO -->
        <form action="#">
            <input type="text" name="name" placeholder="  Name" tabindex="1" class="form_space">
            <input type="text" name="email" placeholder="  Email" tabindex="2" required class="form_space">
            <textarea name="message" id="" placeholder="  Message" cols="30" rows="10" tabindex="3" required class="form_space"></textarea>
            <input class="boton" type="submit" value="Submit">
        </form>
    </main>


    <!-- FOOTER INICIO -->
    <hr>
    <footer>
        <a href="https://www.linkedin.com/in/galeano19maria/" target="_blank" class="footer_text"> <span> &copy; 2022 Jo Galeano </span></a>
        <div>
            <a target="_blank" href="https://www.linkedin.com/in/ignacio-gomez93/"><i class="fab fa-linkedin fa-2xl"></i></a>
            <a href="https://instagram.com/j.ignacio.gomez?igsshid=YmMyMTA2M2Y=" target="_blank"><i class="fab fa-instagram fa-2xl"></i></a>
            <a href="view/contact.html"><i class="fas fa-envelope fa-2xl" ></i></a>
    </footer>
    <!-- FOOTER FIN -->

    <!-- BOOTSTRAP JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

</body>
</html>