<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#FFFFFF ">
    <!-- SEO -->
    <meta name="description" content="website civil engineer project analysis.">
    <meta name="keywords" content="PROJCTS, BIM, MEP, REVIT, AUTOCAD">
    <!-- FAVICON -->
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <!-- GOOGLE FONT -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600;700&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400&display=swap" rel="stylesheet">
    <!-- FONTAWESOME -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <!-- BOOTSTRAP CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- HOJA DE ESTILO COMPILADO CON SASS -->
    <link rel="stylesheet" href="../style/destiny.css">

    <title>IG | PROJECTS | CIVIL ENGINEER</title>
</head>
<body>
    <!-- ENCABEZADO -->
    <header class="container-fluid ">
        <!-- NAVBAR INICIO -->
        <nav class="navbar navbar-expand-lg navbar-light mx-auto col-9">        
                <!-- LOGO  -->
                <a class="navbar-brand" href="../index.html"><img src="../asset/logo-mobile.png" alt="logo" class="logo" width="150px"></a>
    
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
    
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link h4" aria-current="page" href="../index.html">Home</a>
                        </li>
    
                        <li class="nav-item">
                            <a class="nav-link active h4" href="projects.html">Projects</a>
                        </li>
    
                        <li class="nav-item">
                            <a class="nav-link h4" href="about-me.html">About me</a>
                        </li>
    
                        <li class="nav-item">
                            <a class="nav-link h4" href="contact.html">Contact</a>
                        </li>
                    </ul>
                </div>
        </nav>
        <!-- NAVBAR FIN -->
    </header>

<!-- CONTENIDO PRINCIPAL -->
    <main>
<!-- PORTADA DE PROYECTO 01 -->
        <div id="project01">
            <div class="projectNumber number01">
                <p>01</p>
            </div>

            <div class="projectImg img01">
                <a href="../view/01project.html" class="link"><img src="../asset/01-project-maricel.jpg" alt="house project bogado"></a>
            </div>

            <div class="projectInfo info01">
                <h1 class="title-1">Project</h1>
                <p class="title-2">Berrino</p>
                <p class="projectText">Vacation home projected and executed in Villa General Belgrano, Córdoba, Argentina. It has 80 square meters with a bedroom, two bathrooms and a loft. I modeled the architecture and MEP and supervised the construction.</p>
                <a href="../view/01project.html" class="projectLink"> See more...</a>
            </div>
        </div>
        <hr>
<!-- PORTADA DE PROYECTO 02 -->
        <div id="project02">
            <div class="projectNumber number02">
                <p>02</p>
            </div>
            
            <div class="projectImg img02">
                <a href="../view/02project.html" class="link"><img src="../asset/02-project-genaro.png" alt="house project bogado" ></a>
            </div>
            
            <div class="projectInfo info02">
                <p class="title-1">Project</p>
                <p class="title-2">Genaro</p>
                <p class="projectText">This project consists of a single-family dwelling located in Chubut - Argentina.</p>
                <p class="projectText">The house is 320 square meters which was designed with a focus on the kichen due to the fact that the owner is a professional chef. For modeling I worked with 5 Revit files and links Architecture, Structure, Gas and Ventilation, Electricity and Plumbing.</p>
                <a href="../view/02project.html" class="projectLink"> See more...</a>
            </div>
        </div>
    </main>

    <!-- FOOTER INICIO -->
    <hr>
    <footer>
        <a href="https://www.linkedin.com/in/galeano19maria/" target="_blank" class="footerText"> <span>&copy; 2022 Jo Galeano </span></a>
        <div>
            <a target="_blank" href="https://www.linkedin.com/in/ignacio-gomez93/"><i class="fab fa-linkedin fa-2xl"></i></a>
            <a href="https://instagram.com/j.ignacio.gomez?igsshid=YmMyMTA2M2Y=" target="_blank"><i class="fab fa-instagram fa-2xl"></i></a>
            <a href="contact.html"><i class="fas fa-envelope fa-2xl" ></i></a>
        </div>
    </footer>
    <!-- FOOTER FIN -->

    <!-- BOOTSTRAP JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>