<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- favicon -->
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <!-- google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600;700&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400&display=swap" rel="stylesheet">
    <!-- fontawesone -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- BOOTSTRAP CSS -->
    <link rel="stylesheet" href="../css/bootstrap.css">
    <!-- hoja de estilos propia -->
    <link rel="stylesheet" href="../style/style.css">
    <!-- Hoja de estilo compilado con sass -->
    <link rel="stylesheet" href="../style/destiny.css">

    <title> IG | CIVIL ENGINEER</title>
</head>
<body>
    <!-- ENCABEZADO -->
    <header class="container-fluid mx-auto col-10">
        <!-- NAVBAR inicio -->
        <nav class="navbar navbar-expand-lg navbar-light">        
                <!-- logo  -->
                <a class="navbar-brand" href="../index.html"><img src="../asset/logo-mobile.png" alt="logo" class="logo" width="150px"></a>
    
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
    
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link h4" aria-current="page" href="../index.html">Home</a>
                        </li>
    
                        <li class="nav-item">
                            <a class="nav-link active h4" href="projects.html">Projects</a>
                        </li>
    
                        <li class="nav-item">
                            <a class="nav-link h4" href="about-me.html">About me</a>
                        </li>
    
                        <li class="nav-item">
                            <a class="nav-link h4" href="contact.html">Contact</a>
                        </li>
                    </ul>
                </div>
        </nav>
        <!-- NAVBAR fin -->
    </header>

    <!-- CONTENIDO PRINCIPAL DEL BODY - PORTADA DE PROYECTOS-->
    <main>
        <!-- portada proyecto 01 -->
        <div id="project01">
            <div class="project-number number01">
                <p>01</p>
            </div>

            <div class="project-img img01">
                <a href="../view/01project.html" class="link"><img src="../asset/01-project-maricel.jpg" alt="house project bogado"></a>
            </div>

            <div class="project-info info01">
                <p class="title-1">Project</p>
                <p class="title-2">Berrino</p>
                <p class="project-text">Vacation home projected and executed in Villa General Belgrano, Córdoba, Argentina. It has 80 square meters with a bedroom, two bathrooms and a loft. I modeled the architecture and MEP and supervised the construction.</p>
                <a href="../view/01project.html" class="project-link"> See more...</a>
            </div>
        </div>
        <hr>
        <!-- portada proyecto 02 -->
        <div id="project02">

            <div class="project-number number02">
                <p>02</p>
            </div>
            
            <div class="project-img img02">
                <a href="../view/02project.html" class="link"><img src="../asset/02-project-genaro.png" alt="house project bogado" ></a>
            </div>
            
            <div class="project-info info02">
                <p class="title-1">Project</p>
                <p class="title-2">Genaro</p>
                <p class="project-text">This project consists of a single-family dwelling located in Chubut - Argentina.</p>
                <p class="project-text">The house is 320 square meters which was designed with a focus on the kichen due to the fact that the owner is a professional chef. For modeling I worked with 5 Revit files and links Architecture, Structure, Gas and Ventilation, Electricity and Plumbing.</p>
                <a href="../view/02project.html" class="project-link"> See more...</a>
            </div>
        </div>
    </main>

    <!-- inicio footer -->
    <hr>
    <footer>
        <a href="https://www.linkedin.com/in/galeano19maria/" target="_blank"> <span class="footer_text"></span> &copy; 2022 Jo Galeano </span></a>
        <div>
            <a target="_blank" href="https://www.linkedin.com/in/ignacio-gomez93/"><img src="../asset/linkedin-img.png" alt="linkedin" class="footer_icon"></a>
            <a href="https://instagram.com/j.ignacio.gomez?igsshid=YmMyMTA2M2Y=" target="_blank"><img src="../asset/instagram-img.png" alt="instagram"  class="footer_icon"></a>
            <a href="view/contact.html"><img src="../asset/email-img.png" alt="contact form" class="footer_icon"></a>
    </footer>
    <!-- fin footer -->

    <!-- BOOTSTRAP JS -->
    <script src="../js/bootstrap.js"></script>
</body>
</html>