<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600;700&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400&display=swap" rel="stylesheet"> 

    <script src="https://kit.fontawesome.com/32b8b1fb6e.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="../style/style.css">

    <title> IG | CIVIL ENGINEER</title>
</head>
<body>
    <!-- ENCABEZADO -->
    <header class="border">
        <!-- MENU DE NAVEGACION -->        
        <nav >
            <!-- MENU HAMBURGUESA -->
            <div>
                <img class="logo" 
                srcset="../asset/logo-mobile.png 479w, ../asset/logo-desktop.png 1024w"
                sizes="(max-width: 479px) 200px,
                (max-width:1024px) 300px"
                src="../asset/logo-mobile.png" alt="logo">
            </div>

            <input type="checkbox" id="check">
            <label for="check" class="menu__btn">
                <i class="fas fa-bars"></i>
            </label>

            <ul class="nav__links">
                <li><a href="projects.html" class="active close" id="close__td">&#60;</a></li>
                <li><a href="../index.html">Home</a></li>
                <li><a href="projects.html">Project</a></li>
                <li><a href="about-me.html">About me</a></li>
                <li> <a href="contact.html">Contact</a></li>
            </ul>
        </nav>
    </header>

    <!-- CONTENIDO PRINCIPAL DEL BODY - PORTADA DE PROYECTOS-->
    <main>

        <div id="project01">
            <div class="number number01 border">
                <p>01</p>
            </div>
            <div class="berrino01 border">
                <img src="../asset/02-project-maricel.jpg" alt="house project berrino"> 
            </div>
            <div class="title1">
                <p class="title01 border">Project</p>
                <p class="title001 border">Berrino</p>
            </div>
            
            <p class="text__info01 border">Vacation home projected and executed in Villa General Belgrano, Córdoba, Argentina. It has 80 square meters with a bedroom, two bathrooms and a loft. I modeled the architecture and MEP and supervised the construction.</p>
            <a href="../view/01project.html" class="link01 border"> See more...</a>        
        </div>

        <div id="project02">
            <div class="title2">
                <p class="title02 border">Project</p>
                <p class="title002 border">Genaro</p>
            </div>
            
            <div class="text__info02 border">
                <p>This project consists of a single-family dwelling located in Chubut - Argentina.</p>
                <p>The house is 320 square meters which was designed with a focus on the kichen due to the fact that the owner is a professional chef. For modeling I worked with 5 Revit files and links Architecture, Structure, Gas and Ventilation, Electricity and Plumbing.</p>
            </div>
            
            <a href="../view/02project.html" class="link02 border">See more...</a>

            <div class="genaro02 border">
                <img src="../asset/01-project-genaro.png" alt="house project bogado" >
            </div>
            
            <div class="number02 border">
                <p>02</p>        
            </div>
        </div>

        
    </main>

    <!-- PIE DE PAGINA -->
    <footer class="footer footerProject border">
        <hr>
        <p><a href="https://www.linkedin.com/in/galeano19maria/" target="_blank">Create by Jo Galeano</a></p>
    </footer>
</body>
</html>