<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#FFFFFF ">
    <!-- SEO -->
    <meta name="description" content="website civil engineer vacation home projected and executed in Villa General Belgrano.">
    <meta name="keywords" content="BIM, REVIT, ARCHITECTURE MEP , SUPERVISED THE CONSTRUCTION">
    <!-- FAVICON -->
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400&display=swap" rel="stylesheet">
    <!-- FONTAWESOME -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- AOS library -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <!-- BOOTSTRAP CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- HOJA DE ESTILO COMPILADA CON SASS -->
    <link rel="stylesheet" href="../style/destiny.css">

    <title> IG |PULPER FACTORY </title>
</head>
<body>
 
    <!-- ENCABEZADO -->
    <header class="container-fluid ">
        <!-- NAVBAR INICIO -->
        <nav class="navbar navbar-expand-lg navbar-light mx-auto col-9">        
                <!-- LOGO -->
                <a class="navbar-brand" href="index.html"></a>    
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
    
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link h4" aria-current="page" href="../index.html">Home</a>
                        </li>
    
                        <li class="nav-item">
                            <a class="nav-link active h4" href="projects.html">Projects</a>
                        </li>
    
                        <li class="nav-item">
                            <a class="nav-link h4" href="about-me.html">About me</a>
                        </li>
    
                        <li class="nav-item">
                            <a class="nav-link h4" href="contact.html">Contact</a>
                        </li>
                    </ul>
                </div>
        </nav>
            <!-- NAVBAR FIN -->
    </header>

    <!-- REDIRECCIONAR A LA PAGINA DE PROYECTOS -->
    <div class="container-fluid mx-auto col-10 regresar">
        <a href="../view/projects.html" id="01project" class="buttomBack">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/></svg>
        </a>
    </div>
    <!-- REDIRECCIONAMIENTO FIN -->

<!-- PORTADA DEL PROYECTO 01 -->
        <div id="project01_expl">
            <div class="title">
                <div class="titulo">
                    <h2>Project</h2>
                    <h3>PULPER FACTORY</h3>
                </div>
                <div class="text">
                    <p>Industrial pipework modelling for a paper plant, featuring +15 systems, 140,000 linear feet of diverse diameter pipes (2-1/2" to 48"). Focus on prefabrication (LOD 400), spooling, and use of fabrication parts with 1/16" tolerance.</p>
                </div>

            </div>
            <div class="portada">
                <img src="../asset/portada-projecto01.png" alt="portada">
            </div>
            <div class="numero">
                <span>01</span>
                
            </div>

        </div>

        <!-- PORTADA FIN -->

<!-- CONTENIDO PRINCIPAL -->
    <main>
        <section class="info info01">
            <h2>Project overview</h2>
            <p><span>📌</span> <span class="keyWord">Project Scope and Complexity:</span>  This project involves industrial pipework modeling for a paper plant, featuring over 15 diverse systems and encompassing 140,000 linear feet of pipes with diameters ranging from 2-1/2" to 48".</p>
            <p><span>📌</span> <span class="keyWord">Prefabrication and Precision:</span>  Emphasizing prefabrication with a Level of Detail (LOD) 400, the project highlights meticulous attention to detail, utilizing fabrication parts with a tight tolerance of 1/16".</p>
            <p><span>📌</span> <span class="keyWord">Volume and Efficiency:</span>  The project undertakes the fabrication and assembly of over 8000 spools, demonstrating not only the vast scale but also the efficiency of the spooling process.</p>
        </section>

        <section class="info info02">
            <h2>My rol</h2>
            <p><span>👨🏻‍💻</span> As a Project Manager and Technical Lead, my role encompasses:</p>
            <div class="tasks">
                <p><span>⚙️</span> <span class="keyWord">Client Progress Meetings: </span> Conducting regular meetings to align on project goals and address client concerns.</p>
                <p><span>⚙️</span> <span class="keyWord"> Work Package Scheduling: </span> Strategically scheduling and managing work packages for efficient project execution.</p>
                <p><span>⚙️</span> <span class="keyWord">Modeling Team Coordination: </span> Leading and coordinating the modeling team to ensure cohesive and quality work.</p>
                <p><span>⚙️</span> <span class="keyWord">File and Planning Table Management: </span> Overseeing the setup and maintenance of project files and planning tables for optimal organization and tracking.</p>
                <p><span>⚙️</span> <span class="keyWord">Technical Problem-Solving: </span> Providing expert solutions for complex technical challenges in the project.</p>
                <p><span>⚙️</span> <span class="keyWord">Team Mentoring: </span> Guiding and mentoring the team for professional development and skill enhancement.</p>
            </div>
            <p>The team consists of 2 Senior BIM Specialist, 3 Semi Senior BIM Modeler and 2 Junior BIM Modeler.</p>
        </section>

        <section class="info info03">
            <h2>Tools</h2>
            <div class="tools">
                <span>Revit</span>
                <span>Naviskworks</span>
                <span>MSuite</span>
                <span>Fabrication CadMEP</span>
                <span>BlueBeam</span>
                <span>ACC (Build)</span>
                <span>Spreadsheets</span>
                <span>Trello</span>
                <span>Miro</span>
            </div>
        </section>

        <section class="info info05">
            <h2>Challenges</h2>
            <div>
                <p> <span class="keyWord">Overcoming New Team Dynamics:</span> Achieved project milestones with a team new to the company, regardless of their seniority. My role involved strong guidance to integrate team members into our company's processes. Post our first SCRUM retrospective, senior members significantly improved the workflow, aiding junior members in overcoming initial obstacles.</p>
                <p> <span class="keyWord">Navigating Project Uncertainty:</span> Faced with the challenge of slow information release, I planned the project amidst high uncertainty. Adopting agile methodology was key, providing a clearer view of progress and risks, which led to proactive measures like team expansion to meet project demands.</p>
                <p> <span class="keyWord">Precision Under Tight Deadlines:</span> The project required high precision within constrained timelines. This called for several iterations to develop and perfect our QA procedures. Through this process, we not only met our goals but also established a refined and effective workflow for future endeavors.</p>
            </div>
        </section>


        <section class="info info07" style="display: none;" id="protectedContent">
            <div class="protected-content">
                <h2>The images illustrate the project's complexity for clarity:</h2>
                <!-- PRIMER GRUPO-->
                <div class="card-group">
                    <div class="card">
                      <img src="../asset/00-project01.png" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">First retrospective</h5>
                        <p class="card-text">Using Miro, a session was held with the team, where as a result, the need to enlarge the team was found.</p>
                      </div>
                    </div>
                    <div class="card">
                      <img src="../asset/01-project01.png" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Building overview</h5>
                        <p class="card-text">Overview at Navisworks to show the scale and complexity of the work.</p>
                      </div>
                    </div>
                    <div class="card">
                      <img src="../asset/02-project01.png" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Building overview</h5>
                        <p class="card-text">Overview at Navisworks to show the scale and complexity of the work.</p>
                      </div>
                    </div>
                </div>
                <!-- SEGUNDO GRUPO-->
                <div class="card-group">
                    <div class="card">
                      <img src="../asset/03-project01.png" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Building overview</h5>
                        <p class="card-text">Overview at Navisworks to show the scale and complexity of the work.</p>
                      </div>
                    </div>
                    <div class="card">
                      <img src="../asset/04-project01.png" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Building overview</h5>
                        <p class="card-text">Overview at Navisworks to show the scale and complexity of the work.</p>
                      </div>
                    </div>
                    <div class="card">
                      <img src="../asset/05-project01.png" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Building overview</h5>
                        <p class="card-text">Overview at Navisworks to show the scale and complexity of the work.</p>
                      </div>
                    </div>
                </div>
                <!-- TERCERO GRUPO-->
                <div class="card-group">
                    <div class="card">
                      <img src="../asset/06-project01.png" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Building overview</h5>
                        <p class="card-text">Overview at Navisworks to show the scale and complexity of the work.</p>
                      </div>
                    </div>
                    <div class="card">
                      <img src="../asset/07-project01.png" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Building overview</h5>
                        <p class="card-text">Overview at Navisworks to show the scale and complexity of the work.</p>
                      </div>
                    </div>
                    <div class="card">
                      <img src="../asset/08-project01.png" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Building overview</h5>
                        <p class="card-text">Overview at Navisworks to show the scale and complexity of the work.</p>
                      </div>
                    </div>
                </div>
                <!-- CUARTO GRUPO-->
                <div class="card-group">
                    <div class="card">
                      <img src="../asset/09-project01.png" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Revit overview</h5>
                        <p class="card-text">Captures of the main model when there were 70,000 ft modelled.</p>
                      </div>
                    </div>
                    <div class="card">
                      <img src="../asset/10-project01.png" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Revit overview</h5>
                        <p class="card-text">Captures of the main model when there were 70,000 ft modelled.</p>
                      </div>
                    </div>
                    <div class="card">
                      <img src="../asset/11-project01.png" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Revit overview</h5>
                        <p class="card-text">Captures of the main model when there were 70,000 ft modelled.</p>
                      </div>
                    </div>
                </div>
                <!-- QUINTO GRUPO-->
                <div class="card-group">
                    <div class="card">
                      <img src="../asset/12-project01.png" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Sheets</h5>
                        <p class="card-text">Spool sheets overview. MSuite was used to create the spools.</p>
                      </div>
                    </div>
                    <div class="card">
                      <img src="../asset/13-project01.png" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Sheets</h5>
                        <p class="card-text">Spool sheets overview. MSuite was used to create the spools.</p>
                      </div>
                    </div>
                    <div class="card">
                      <img src="../asset/14-project01.png" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Sheets</h5>
                        <p class="card-text">Spool sheets overview. MSuite was used to create the spools.</p>
                      </div>
                    </div>
                </div>


            </div>
        </section>


        <!-- CONTRASEÑA -->
        <div id="passwordPrompt">
            <div class="mensaje">
                <p>Hello there! I'm excited to share my role in this fascinating project with you. If you're curious to dive deeper, don't hesitate to reach out to me on LinkedIn. </p>
                <p>Also, while the graphic content showcased respects all confidentiality agreements, it's password-protected to ensure it's used appropriately. Your understanding is much appreciated!</p>
            </div>
            <form id="passwordForm">
                <label for="password">Enter password to access:</label>
                <input type="password" id="password" name="password" class="password">
                <i id="togglePassword" class="fas fa-eye"></i>
                <input type="submit" value="Submit" class="btn">
            </form>
        </div>  
        <!-- MODAL CONTRASEÑA INCORRECTA   -->              
        <div id="myModal" class="modal">
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <p id="modalText">Incorrect password!</p>
                </div>
        </div>       
        
    </main>


            

    <!-- REDIRECCIONA AL PRINCIPIO DEL PROYECTO 01 -->
    <div class=" buttomUp container-fluid mx-auto col-10 p-3">
        <a href="#01project">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-arrow-up-circle" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z"/></svg>
        </a>
    </div>

    <!-- FOOTER INCIO -->
    <footer>
        <div class="container-footer">
            <div class="left-content">
                <a href="https://www.linkedin.com/in/galeano19maria/" target="_blank" class="footerText"> <span > &copy; 2022 Jo Galeano </span></a>
            </div>
            <div class="right-content">
                <a href="https://www.linkedin.com/in/ignacio-gomez93/" target="_blank"><i class="fab fa-linkedin fa-2xl"></i><span class="hidden-text">Link to Linkedin</span></a>
                <a href="https://instagram.com/j.ignacio.gomez?igsshid=YmMyMTA2M2Y=" target="_blank"><i class="fab fa-instagram fa-2xl"></i><span class="hidden-text">Link to Instagram</span></a>
                <a href="view/contact.html"><i class="fas fa-envelope fa-2xl" ></i><span class="hidden-text">Link to Contact page</span></a>
            </div>
        </div>
    </footer>
    <!-- FOOTER FIN -->

    <!-- BOOTSTRAP JS -->
    <script src="../js/bootstrap.js"></script>
    <!-- AOS JS  -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>

    <script>
 window.onload = function() {
    var passwordForm = document.getElementById('passwordForm');
    var passwordInput = document.getElementById('password');
    var passwordPrompt = document.getElementById('passwordPrompt');
    var protectedContent = document.getElementById('protectedContent');

    passwordForm.onsubmit = function(e) {
        e.preventDefault();
        if (passwordInput.value == "MEP") { // Reemplaza 'hola' con la contraseña real
            // Si la contraseña es correcta, oculta el prompt y muestra el contenido
            passwordPrompt.style.display = "none";
            protectedContent.style.display = "block";
        } else {
            // Si la contraseña es incorrecta, muestra un mensaje
            alert("Incorrect password!");
        }
    };

    // Agrega la lógica para el botón de visualización de la contraseña
    var togglePassword = document.getElementById('togglePassword');
    togglePassword.addEventListener('click', function(e) {
        if (passwordInput.type === "password") {
            passwordInput.type = "text";
            togglePassword.classList.add('fa-eye-slash');
            togglePassword.classList.remove('fa-eye');
        } else {
            passwordInput.type = "password";
            togglePassword.classList.remove('fa-eye-slash');
            togglePassword.classList.add('fa-eye');
        }
    });
};

    </script>
    
</body>
</html>