<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#FFFFFF ">
    <!-- SEO -->
    <meta name="description" content="website civil engineer vacation home projected and executed in Villa General Belgrano.">
    <meta name="keywords" content="BIM, REVIT, ARCHITECTURE MEP , SUPERVISED THE CONSTRUCTION">
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-MW8J3H5K');</script>
    <!-- End Google Tag Manager -->    

    <!-- FAVICON -->
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

    <!-- FONTAWESOME -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- AOS library -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <!-- BOOTSTRAP CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- HOJA DE ESTILO COMPILADA CON SASS -->
    <link rel="stylesheet" href="../style/destiny.css">

    <title> IG |PULPER FACTORY </title>
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MW8J3H5K"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) --> 

    <!-- ENCABEZADO -->
    <header class="container-fluid ">
        <!-- NAVBAR INICIO -->
        <nav class="navbar navbar-expand-lg navbar-light mx-auto col-9">        
                <!-- LOGO -->
                <a class="navbar-brand" href="index.html"></a>    
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
    
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link h4" aria-current="page" href="../index.html">Home</a>
                        </li>
    
                        <li class="nav-item">
                            <a class="nav-link active h4" href="projects.html">Projects</a>
                        </li>
    
                        <li class="nav-item">
                            <a class="nav-link h4" href="about-me.html">About me</a>
                        </li>
    
                        <li class="nav-item">
                            <a class="nav-link h4" href="contact.html">Contact</a>
                        </li>
                    </ul>
                </div>
        </nav>
            <!-- NAVBAR FIN -->
    </header>

    <!-- REDIRECCIONAR A LA PAGINA DE PROYECTOS -->
    <div class="container-fluid mx-auto col-10 regresar">
        <a href="../view/projects.html" id="01project" class="buttomBack">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/></svg>
        </a>
    </div>
    <!-- REDIRECCIONAMIENTO FIN -->

<!-- PORTADA DEL PROYECTO 01 -->
        <div id="project01_expl">
            <div class="title">
                <div class="titulo">
                    <h2>Project</h2>
                    <h3>STEAM PLANT</h3>
                </div>
                <div class="text">
                    <p>Modelling and coordination of pipework systems for a steam plant, guided by P&ID and material specifications/piping class. The project included spooling and installation drawings and modelling of equipment according to cutsheets and submittals.</p>
                </div>

            </div>
            <div class="portada">
                <img src="../asset/portada-project02.png" alt="portada">
            </div>
            <div class="numero">
                <span>02</span>
                
            </div>

        </div>

        <!-- PORTADA FIN -->

<!-- CONTENIDO PRINCIPAL -->
    <main>
        <section class="info info01">
            <h2>Project overview</h2>
            <p><span></span> <span class="keyWord">Pipework System Modelling:</span> Focused on the detailed modelling of pipework systems specific to a steam plant.</p>
            <p><span></span> <span class="keyWord">Guidance by P&ID and Specifications:</span> Adhered to Process & Instrumentation Diagrams (P&IDs) and material specifications/piping class for accuracy and compliance.</p>
            <p><span></span> <span class="keyWord">Spooling and Installation Drawings:</span> Developed precise spooling and installation drawings as part of the project's deliverables.</p>
            <p><span></span> <span class="keyWord">Equipment Modelling:</span> Executed the modelling of equipment based on cutsheets and submittals, ensuring alignment with the overall project requirements.</p>
        </section>

        <section class="info info02">
            <h2>My rol</h2>
            <p><span></span> As a BIM Specialist, my responsibilities blend precision and collaboration:</p>
            <div class="tasks">
                <p><span></span> <span class="keyWord">Pipework Modelling and Coordination:</span> I meticulously model and coordinate pipes in line with P&IDs, isometrics, and valve schedules, ensuring every detail aligns perfectly.</p>
                <p><span></span> <span class="keyWord">Fabrication Parts Database Management:</span> I set up and manage the Fabrication Parts Database, tailoring it to align with specific material specifications.</p>
                <p><span></span> <span class="keyWord">Coordination Meetings and Clash Resolution:</span> Actively participating in coordination meetings, I focus on identifying and resolving clashes, ensuring smooth project progression.</p>
                <p><span></span> <span class="keyWord">Detailed Spool and Installation Drawings:</span> I specialize in creating detailed spool maps, spool sheets, and installation drawings, contributing to the clarity and accuracy of the fabrication process.</p>
                <p><span></span> <span class="keyWord">Equipment Modeling:</span> Utilizing cutsheets, I model equipment as RFA files, integrating them seamlessly into the overall BIM framework.</p>
            </div>
        </section>

        <section class="info info03">
            <h2>Tools</h2>
            <div class="tools">
                <span>Revit</span>
                <span>Naviskworks</span>
                <span>MSuite</span>
                <span>Fabrication CadMEP</span>
                <span>BlueBeam</span>
                <span>ACC (Docs)</span>
                <span>Spreadsheets</span>
                <span>Notion</span>
            </div>
        </section>

        <section class="info info05">
            <h2>Challenges</h2>
            <div>
                <p> <span class="keyWord">Existing Conditions as Constraints:</span> Being a plant expansion project, certain pre-existing conditions posed limitations.</p>
                <p> <span class="keyWord">Mid-Project Adjustments:</span> Three months into the project, deviations were discovered, necessitating a second scanning and re-coordination effort.</p>
                <p> <span class="keyWord">Spool Definition Criteria:</span> Initially, the criteria for defining spools were not clearly established. My team identified handling conditions that required cutting some spools for effective management.</p>
            </div>
        </section>


        <section class="info info07" style="display: none;" id="protectedContent">
            <div class="protected-content">
                <h2>The images illustrate the project's complexity for clarity:</h2>
                <!-- PRIMER GRUPO-->
                <div class="card-group">
                    <div class="card">
                      <img src="../asset/00-project02.png" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Building overview</h5>
                        <p class="card-text">Overview at Navisworks to show the scale and complexity of the work.</p>
                      </div>
                    </div>
                    <div class="card">
                      <img src="../asset/01-project02.png" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Building overview</h5>
                        <p class="card-text">Revit view with east-west orientation.</p>
                      </div>
                    </div>
                    <div class="card">
                      <img src="../asset/02-project02.png" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Building overview</h5>
                        <p class="card-text">View in Revit with north-south orientation.</p>
                      </div>
                    </div>
                </div>
                <!-- SEGUNDO GRUPO-->
                <div class="card-group">
                    <div class="card">
                      <img src="../asset/03-project02.png" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Mechanical room</h5>
                        <p class="card-text">Overview of the Mechanical room in Revit.</p>
                      </div>
                    </div>
                    <div class="card">
                      <img src="../asset/04-project02.png" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Mechanical room</h5>
                        <p class="card-text">Front view of the mechanical room showing hangers.</p>
                      </div>
                    </div>
                    <div class="card">
                      <img src="../asset/05-project02.png" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Mechanical room</h5>
                        <p class="card-text">Coordination view.</p>
                      </div>
                    </div>
                </div>
                <!-- TERCERO GRUPO-->
                <div class="card-group">
                    <div class="card">
                      <img src="../asset/06-project02.png" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Piece of equipment</h5>
                        <p class="card-text">RFA created from cutsheet.</p>
                      </div>
                    </div>
                    <div class="card">
                      <img src="../asset/07-project02.png" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Piece of equipment</h5>
                        <p class="card-text">RFA created from cutsheet.</p>
                      </div>
                    </div>
                    <div class="card">
                      <img src="../asset/08-project02.png" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Spool map</h5>
                        <p class="card-text">Example of spool and hanger map.</p>
                      </div>
                    </div>
                </div>
                <!-- CUARTO GRUPO-->
                <div class="card-group">
                    <div class="card">
                      <img src="../asset/09-project02.png" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Spool map</h5>
                        <p class="card-text">Example of spool and hanger map.</p>
                      </div>
                    </div>
                    <div class="card">
                      <img src="../asset/10-project02.png" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Spool sheet</h5>
                        <p class="card-text">Example of spool sheet.</p>
                      </div>
                    </div>
                    <div class="card">
                      <img src="../asset/11-project02.png" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Spool sheet</h5>
                        <p class="card-text">Example of spool sheet.</p>
                      </div>
                    </div>
                </div>

            </div>
        </section>


        <!-- CONTRASEÑA -->
        <div id="passwordPrompt"  class="projecto02blur">
            <div class="mensaje">
                <p>If you would like to know more about my involvement in this challenging project, please do not hesitate to contact me via LinkedIn.</p>
                <p>Also, please note that the graphic content presented respects all confidentiality agreements and is password protected to ensure its proper use. Thank you very much for your understanding.</p>
            </div>
            <form id="passwordForm">
                <label for="password">Enter password to access:</label>
                <input type="password" id="password" name="password" class="password">
                <i id="togglePassword" class="fas fa-eye"></i>
                <input type="submit" value="Submit" class="btn">
            </form>
        </div>  
        <!-- MODAL CONTRASEÑA INCORRECTA   -->              
        <div id="myModal" class="modal ">
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <p id="modalText">Incorrect password!</p>
                </div>
        </div>       
        
    </main>


            

    <!-- REDIRECCIONA AL PRINCIPIO DEL PROYECTO 01 -->
    <div class=" buttomUp container-fluid mx-auto col-10 p-3">
        <a href="#01project">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-arrow-up-circle" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z"/></svg>
        </a>
    </div>

    <!-- FOOTER INCIO -->
    <footer>
        <div class="container-footer">
            <div class="left-content">
                <a href="https://www.linkedin.com/in/galeano19maria/" target="_blank" class="footerText"> <span > &copy; 2022 Jo Galeano </span></a>
            </div>
            <div class="right-content">
                <a href="https://www.linkedin.com/in/ignacio-gomez93/" target="_blank"><i class="fab fa-linkedin fa-2xl"></i><span class="hidden-text">Link to Linkedin</span></a>
                <a href="https://instagram.com/j.ignacio.gomez?igsshid=YmMyMTA2M2Y=" target="_blank"><i class="fab fa-instagram fa-2xl"></i><span class="hidden-text">Link to Instagram</span></a>
                <a href="view/contact.html"><i class="fas fa-envelope fa-2xl" ></i><span class="hidden-text">Link to Contact page</span></a>
            </div>
        </div>
    </footer>
    <!-- FOOTER FIN -->

    <!-- BOOTSTRAP JS -->
    <script src="../js/bootstrap.js"></script>
    <!-- AOS JS  -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>

    <script>
 window.onload = function() {
    var passwordForm = document.getElementById('passwordForm');
    var passwordInput = document.getElementById('password');
    var passwordPrompt = document.getElementById('passwordPrompt');
    var protectedContent = document.getElementById('protectedContent');

    passwordForm.onsubmit = function(e) {
        e.preventDefault();
        if (passwordInput.value == "MEP") { // Reemplaza 'hola' con la contraseña real
            // Si la contraseña es correcta, oculta el prompt y muestra el contenido
            passwordPrompt.style.display = "none";
            protectedContent.style.display = "block";
        } else {
            // Si la contraseña es incorrecta, muestra un mensaje
            alert("Incorrect password!");
        }
    };

    // Agrega la lógica para el botón de visualización de la contraseña
    var togglePassword = document.getElementById('togglePassword');
    togglePassword.addEventListener('click', function(e) {
        if (passwordInput.type === "password") {
            passwordInput.type = "text";
            togglePassword.classList.add('fa-eye-slash');
            togglePassword.classList.remove('fa-eye');
        } else {
            passwordInput.type = "password";
            togglePassword.classList.remove('fa-eye-slash');
            togglePassword.classList.add('fa-eye');
        }
    });
};

    </script>
    
</body>
</html>
